In [1]:
import os
print("JAVA_HOME:", os.environ.get("JAVA_HOME"))

JAVA_HOME: C:\Program Files\Java\jdk-17

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("leetcode_tasks").getOrCreate()

# Select

## Recyclable and Low Fat Products

In [3]:
import pandas as pd

data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype(
    {'product_id': 'int64', 'low_fats': 'category', 'recyclable': 'category'})

In [5]:
products_df = spark.createDataFrame(products)
products_df.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- low_fats: string (nullable = true)
 |-- recyclable: string (nullable = true)

In [6]:
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

In [ ]:
"""
Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.
"""

In [7]:
products_df.filter((products_df['low_fats'] == 'Y') & (products_df['recyclable'] == 'Y')).select('product_id').show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

## Find Customer Referee

In [8]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype(
    {'id': 'Int64', 'name': 'object', 'referee_id': 'Int64'})

In [12]:
customer_df = spark.createDataFrame(customer)

In [13]:
customer_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- referee_id: double (nullable = true)

In [14]:
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|       NaN|
|  2|Jane|       NaN|
|  3|Alex|       2.0|
|  4|Bill|       NaN|
|  5|Zack|       1.0|
|  6|Mark|       2.0|
+---+----+----------+

In [ ]:
"""
Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.
"""

In [16]:
customer_df.filter(customer_df['referee_id'] != 2).select('name').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

## Big Countries

In [17]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000],
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name': 'object', 'continent': 'object', 'area': 'Int64', 'population': 'Int64', 'gdp': 'Int64'})

In [18]:
world_df = spark.createDataFrame(world)

In [20]:
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [ ]:
"""
A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or it has a population of at least twenty-five million (i.e., 25000000). Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.
"""

In [21]:
world_df.filter((world_df['area'] >= 3000000) | (world_df['population'] >= 25000000)).select(['name', 'population', 'area']).show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

## Article Views I

In [22]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [23]:
views_df = spark.createDataFrame(views)

In [24]:
views_df.show()

+----------+---------+---------+-------------------+
|article_id|author_id|viewer_id|          view_date|
+----------+---------+---------+-------------------+
|         1|        3|        5|2019-08-01 00:00:00|
|         1|        3|        6|2019-08-02 00:00:00|
|         2|        7|        7|2019-08-01 00:00:00|
|         2|        7|        6|2019-08-02 00:00:00|
|         4|        7|        1|2019-07-22 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
+----------+---------+---------+-------------------+

In [ ]:
"""
Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.
"""

In [26]:
views_df.filter(views_df['author_id'] == views_df['viewer_id']).select(views_df['author_id'].alias('id')).distinct().orderBy('author_id').show()

+---+
| id|
+---+
|  4|
|  7|
+---+

## Invalid Tweets

In [27]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [28]:
tweets_df = spark.createDataFrame(tweets)

In [29]:
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

In [ ]:
"""
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.
"""

In [33]:
import pyspark.sql.functions as F

tweets_df.filter(F.length(tweets_df['content']) > 15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# Basic Joins

## Replace Employee ID With The Unique Identifier

In [35]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})

In [37]:
employees_df = spark.createDataFrame(employees)
employees_df.show(truncate=False)

+---+--------+
|id |name    |
+---+--------+
|1  |Alice   |
|7  |Bob     |
|11 |Meir    |
|90 |Winston |
|3  |Jonathan|
+---+--------+

In [38]:
employee_uni_df = spark.createDataFrame(employee_uni)
employee_uni_df.show(truncate=False)

+---+---------+
|id |unique_id|
+---+---------+
|3  |1        |
|11 |2        |
|90 |3        |
+---+---------+

In [ ]:
"""
Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.
"""

In [39]:
employees_df.join(employee_uni_df, on=['id'], how='left').select(['name', 'unique_id']).show()

+--------+---------+
|    name|unique_id|
+--------+---------+
|     Bob|     NULL|
|   Alice|     NULL|
|Jonathan|        1|
|    Meir|        2|
| Winston|        3|
+--------+---------+

## Product Sales Analysis I

In [40]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})

In [41]:
sales_df = spark.createDataFrame(sales)
sales_df.show(truncate=False)

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|1      |100       |2008|10      |5000 |
|2      |100       |2009|12      |5000 |
|7      |200       |2011|15      |9000 |
+-------+----------+----+--------+-----+

In [42]:
product_df = spark.createDataFrame(product)
product_df.show(truncate=False)

+----------+------------+
|product_id|product_name|
+----------+------------+
|100       |Nokia       |
|200       |Apple       |
|300       |Samsung     |
+----------+------------+

In [ ]:
"""
Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

Return the resulting table in any order.
"""

In [44]:
sales_df.join(product_df, on=['product_id'], how='left').select(['product_name', 'year', 'price']).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

## Customer Who Visited but Did Not Make Any Transactions

In [45]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})
data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [46]:
visits_df = spark.createDataFrame(visits)
visits_df.show(truncate=False)

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|1       |23         |
|2       |9          |
|4       |30         |
|5       |54         |
|6       |96         |
|7       |54         |
|8       |54         |
+--------+-----------+

In [47]:
transactions_df = spark.createDataFrame(transactions)
transactions_df.show(truncate=False)

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|2             |5       |310   |
|3             |5       |300   |
|9             |5       |200   |
|12            |1       |910   |
|13            |2       |970   |
+--------------+--------+------+

In [ ]:
"""
Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.
"""

In [61]:
import pyspark.sql.functions as F

visits_df.join(transactions_df, on=['visit_id'], how='left').filter(F.col('transaction_id').isNull()).groupBy('customer_id').agg((F.count('customer_id')).alias('count_no_trans')).show()

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         54|             2|
|         96|             1|
|         30|             1|
+-----------+--------------+

## Rising Temperature

In [62]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [63]:
weather_df = spark.createDataFrame(weather)
weather_df.show(truncate=False)

+---+-------------------+-----------+
|id |recordDate         |temperature|
+---+-------------------+-----------+
|1  |2015-01-01 00:00:00|10         |
|2  |2015-01-02 00:00:00|25         |
|3  |2015-01-03 00:00:00|20         |
|4  |2015-01-04 00:00:00|30         |
+---+-------------------+-----------+

In [ ]:
"""
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.
"""

In [64]:
import pyspark.sql.functions as F
from pyspark.sql.window import Window

window_spec = Window.orderBy("recordDate")
weather_with_lag = weather_df.withColumn(
    "prev_temp",
    F.lag("temperature").over(window_spec)
)

In [66]:
weather_with_lag.show()

+---+-------------------+-----------+---------+
| id|         recordDate|temperature|prev_temp|
+---+-------------------+-----------+---------+
|  1|2015-01-01 00:00:00|         10|     NULL|
|  2|2015-01-02 00:00:00|         25|       10|
|  3|2015-01-03 00:00:00|         20|       25|
|  4|2015-01-04 00:00:00|         30|       20|
+---+-------------------+-----------+---------+

In [69]:
weather_with_lag.filter(weather_with_lag['temperature'] > weather_with_lag['prev_temp']).select('id').show()

+---+
| id|
+---+
|  2|
|  4|
+---+

## Average Time of Process per Machine

In [80]:
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55],
        [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512],
        [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype(
    {'machine_id': 'Int64', 'process_id': 'Int64', 'activity_type': 'object', 'timestamp': 'Float64'})

In [81]:
activity_df = spark.createDataFrame(activity)
activity_df.show()

+----------+----------+-------------+---------+
|machine_id|process_id|activity_type|timestamp|
+----------+----------+-------------+---------+
|         0|         0|        start|    0.712|
|         0|         0|          end|     1.52|
|         0|         1|        start|     3.14|
|         0|         1|          end|     4.12|
|         1|         0|        start|     0.55|
|         1|         0|          end|     1.55|
|         1|         1|        start|     0.43|
|         1|         1|          end|     1.42|
|         2|         0|        start|      4.1|
|         2|         0|          end|    4.512|
|         2|         1|        start|      2.5|
|         2|         1|          end|      5.0|
+----------+----------+-------------+---------+

In [ ]:
"""There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

Return the result table in any order."""

In [82]:
pivot_df = activity_df.groupBy("machine_id", "process_id") \
    .pivot("activity_type", ["start", "end"]) \
    .agg(F.first("timestamp"))

In [83]:
pivot_df.show()

+----------+----------+-----+-----+
|machine_id|process_id|start|  end|
+----------+----------+-----+-----+
|         1|         0| 0.55| 1.55|
|         1|         1| 0.43| 1.42|
|         0|         1| 3.14| 4.12|
|         2|         0|  4.1|4.512|
|         0|         0|0.712| 1.52|
|         2|         1|  2.5|  5.0|
+----------+----------+-----+-----+

In [84]:
processing_df = pivot_df.withColumn(
    "processing_time", 
    F.col("end") - F.col("start")
)

In [85]:
processing_df.show()

+----------+----------+-----+-----+------------------+
|machine_id|process_id|start|  end|   processing_time|
+----------+----------+-----+-----+------------------+
|         1|         0| 0.55| 1.55|               1.0|
|         1|         1| 0.43| 1.42|              0.99|
|         0|         1| 3.14| 4.12|              0.98|
|         2|         0|  4.1|4.512|0.4119999999999999|
|         0|         0|0.712| 1.52|             0.808|
|         2|         1|  2.5|  5.0|               2.5|
+----------+----------+-----+-----+------------------+

In [87]:
processing_df.groupBy('machine_id').agg(F.round(F.avg('processing_time'), 3).alias('processing_time_avg')).select(['machine_id', 'processing_time_avg']).show()

+----------+-------------------+
|machine_id|processing_time_avg|
+----------+-------------------+
|         0|              0.894|
|         1|              0.995|
|         2|              1.456|
+----------+-------------------+

## Employee Bonus

In [89]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype(
    {'empId': 'Int64', 'name': 'object', 'supervisor': 'Int64', 'salary': 'Int64'})
data2 = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data2, columns=['empId', 'bonus']).astype({'empId': 'Int64', 'bonus': 'Int64'})

In [96]:
from pyspark.sql.types import *

schema_employee = StructType([
    StructField("empId", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("supervisor", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

employee_df = spark.createDataFrame(data, schema_employee)
bonus_df = spark.createDataFrame(bonus)

In [97]:
employee_df.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [98]:
bonus_df.show()

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

In [ ]:
"""
Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

The result format is in the following example.
"""

In [100]:
employee_df.join(bonus_df, on='empId', how='left').filter((F.col('bonus') < 1000) | (F.col('bonus').isNull())).select(['name', 'bonus']).show()

+----+-----+
|name|bonus|
+----+-----+
|John| NULL|
|Brad| NULL|
| Dan|  500|
+----+-----+

## Students and Examinations

In [101]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype(
    {'student_id': 'Int64', 'student_name': 'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name': 'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'],
        [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype(
    {'student_id': 'Int64', 'subject_name': 'object'})

In [102]:
students_df = spark.createDataFrame(students)
subjects_df = spark.createDataFrame(subjects)
examinations_df = spark.createDataFrame(examinations)

In [ ]:
""""
Write a solution to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.
"""

In [103]:
students_df.show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
|        13|        John|
|         6|        Alex|
+----------+------------+

In [104]:
subjects_df.show()

+------------+
|subject_name|
+------------+
|        Math|
|     Physics|
| Programming|
+------------+

In [105]:
examinations_df.show()

+----------+------------+
|student_id|subject_name|
+----------+------------+
|         1|        Math|
|         1|     Physics|
|         1| Programming|
|         2| Programming|
|         1|     Physics|
|         1|        Math|
|        13|        Math|
|        13| Programming|
|        13|     Physics|
|         2|        Math|
|         1|        Math|
+----------+------------+

In [108]:
students_subjects = students_df.join(subjects_df)

In [109]:
students_subjects.show()

+----------+------------+------------+
|student_id|student_name|subject_name|
+----------+------------+------------+
|         1|       Alice|        Math|
|         1|       Alice|     Physics|
|         1|       Alice| Programming|
|         2|         Bob|        Math|
|         2|         Bob|     Physics|
|         2|         Bob| Programming|
|        13|        John|        Math|
|        13|        John|     Physics|
|        13|        John| Programming|
|         6|        Alex|        Math|
|         6|        Alex|     Physics|
|         6|        Alex| Programming|
+----------+------------+------------+

In [112]:
students_exams = students_subjects.join(examinations_df, on=['student_id', 'subject_name'])

In [115]:
students_exams.show()

+----------+------------+------------+
|student_id|subject_name|student_name|
+----------+------------+------------+
|        13| Programming|        John|
|         2| Programming|         Bob|
|         1| Programming|       Alice|
|        13|        Math|        John|
|         2|        Math|         Bob|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|        13|     Physics|        John|
|         1|     Physics|       Alice|
|         1|     Physics|       Alice|
+----------+------------+------------+

In [120]:
exams_count = students_exams.withColumn('exam_count',F.when(F.isnull('student_id'),0).otherwise(1)).groupBy(['student_id', 'subject_name', 'student_name']).agg(F.sum('exam_count').alias('attended_exams'))

In [121]:
exams_count.show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|        13| Programming|        John|             1|
|         2| Programming|         Bob|             1|
|         1| Programming|       Alice|             1|
|        13|        Math|        John|             1|
|         2|        Math|         Bob|             1|
|         1|        Math|       Alice|             3|
|        13|     Physics|        John|             1|
|         1|     Physics|       Alice|             2|
+----------+------------+------------+--------------+

In [125]:
students_subjects.join(exams_count, on=['student_id', 'subject_name', 'student_name'], how='left').na.fill(0, 'attended_exams').orderBy(['student_id', 'subject_name']).show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|         1|        Math|       Alice|             3|
|         1|     Physics|       Alice|             2|
|         1| Programming|       Alice|             1|
|         2|        Math|         Bob|             1|
|         2|     Physics|         Bob|             0|
|         2| Programming|         Bob|             1|
|         6|        Math|        Alex|             0|
|         6|     Physics|        Alex|             0|
|         6| Programming|        Alex|             0|
|        13|        Math|        John|             1|
|        13|     Physics|        John|             1|
|        13| Programming|        John|             1|
+----------+------------+------------+--------------+

## Managers with at Least 5 Direct Reports

In [126]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [127]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("managerId", IntegerType(), True)
])

employee_df = spark.createDataFrame(data,schema=schema)

In [128]:
employee_df.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     NULL|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [ ]:
"""
Write a solution to find managers with at least five direct reports.

Return the result table in any order.
"""

In [133]:
report_count = employee_df.withColumn('report_count',F.when(F.isnull('managerId'),0).otherwise(1)).groupBy(['managerId']).agg(F.sum('report_count').alias('report_count'))

In [134]:
report_count.show()

+---------+------------+
|managerId|report_count|
+---------+------------+
|      101|           5|
|     NULL|           0|
+---------+------------+

In [141]:
employee_df.join(report_count, employee_df.id == report_count.managerId, "left").filter(F.col('report_count') >= 5).select('name').show()

+----+
|name|
+----+
|John|
+----+

## Confirmation Rate

In [142]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'],
        [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'],
        [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'],
        [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]', 'action': 'object'})

In [143]:
signups_df = spark.createDataFrame(signups)
confirmations_df = spark.createDataFrame(confirmations)

In [144]:
signups_df.show()

+-------+-------------------+
|user_id|         time_stamp|
+-------+-------------------+
|      3|2020-03-21 10:16:13|
|      7|2020-01-04 13:57:59|
|      2|2020-07-29 23:09:44|
|      6|2020-12-09 10:39:37|
+-------+-------------------+

In [145]:
confirmations_df.show()

+-------+-------------------+---------+
|user_id|         time_stamp|   action|
+-------+-------------------+---------+
|      3|2021-01-06 03:30:46|  timeout|
|      3|2021-07-14 14:00:00|  timeout|
|      7|2021-06-12 11:57:29|confirmed|
|      7|2021-06-13 12:58:28|confirmed|
|      7|2021-06-14 13:59:27|confirmed|
|      2|2021-01-22 00:00:00|confirmed|
|      2|2021-02-28 23:59:59|  timeout|
+-------+-------------------+---------+

In [ ]:
"""
The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. The confirmation rate of a user that did not request any confirmation messages is 0. Round the confirmation rate to two decimal places.

Write a solution to find the confirmation rate of each user.

Return the result table in any order.
"""

In [156]:
user_confirmations = signups_df.join(confirmations_df, on='user_id', how='left').na.fill('timeout', 'action')

In [157]:
user_confirmations.show()

+-------+-------------------+-------------------+---------+
|user_id|         time_stamp|         time_stamp|   action|
+-------+-------------------+-------------------+---------+
|      7|2020-01-04 13:57:59|2021-06-14 13:59:27|confirmed|
|      7|2020-01-04 13:57:59|2021-06-13 12:58:28|confirmed|
|      7|2020-01-04 13:57:59|2021-06-12 11:57:29|confirmed|
|      6|2020-12-09 10:39:37|               NULL|  timeout|
|      3|2020-03-21 10:16:13|2021-07-14 14:00:00|  timeout|
|      3|2020-03-21 10:16:13|2021-01-06 03:30:46|  timeout|
|      2|2020-07-29 23:09:44|2021-02-28 23:59:59|  timeout|
|      2|2020-07-29 23:09:44|2021-01-22 00:00:00|confirmed|
+-------+-------------------+-------------------+---------+

In [166]:
user_confirmations_count = user_confirmations.groupBy('user_id').pivot('action', ['confirmed', 'timeout']).agg(F.count('action')).na.fill(0)

In [167]:
user_confirmations_count.show()

+-------+---------+-------+
|user_id|confirmed|timeout|
+-------+---------+-------+
|      7|        3|      0|
|      6|        0|      1|
|      3|        0|      2|
|      2|        1|      1|
+-------+---------+-------+

In [ ]:
user_confirmations_total = user_confirmations_count.withColumn('total', user_confirmations_count['confirmed'] + user_confirmations_count['timeout'])

In [171]:
user_confirmations_total.show()

+-------+---------+-------+-----+
|user_id|confirmed|timeout|total|
+-------+---------+-------+-----+
|      7|        3|      0|    3|
|      6|        0|      1|    1|
|      3|        0|      2|    2|
|      2|        1|      1|    2|
+-------+---------+-------+-----+

In [181]:
user_confirmations_total.withColumn('confirmation_rate', F.round(F.col('confirmed') / F.col('total'), 2)).select(['user_id', 'confirmation_rate']).show()

+-------+-----------------+
|user_id|confirmation_rate|
+-------+-----------------+
|      7|              1.0|
|      6|              0.0|
|      3|              0.0|
|      2|              0.5|
+-------+-----------------+

# Basic Aggregate Functions

## Not Boring Movies

In [182]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2],
        [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype(
    {'id': 'Int64', 'movie': 'object', 'description': 'object', 'rating': 'Float64'})

In [183]:
cinema_df = spark.createDataFrame(cinema)

In [184]:
cinema_df.show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  2|   Science|    fiction|   8.5|
|  3|     irish|     boring|   6.2|
|  4|  Ice song|    Fantacy|   8.6|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

In [ ]:
"""
Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.
"""

In [187]:
cinema_df.filter((cinema_df['description'] != 'boring') & (F.col('id')%2 != 0)).orderBy('rating', ascending=False).show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  5|House card|Interesting|   9.1|
|  1|       War|   great 3D|   8.9|
+---+----------+-----------+------+

## Average Selling Price

In [188]:
data = [[1, '2019-02-17', '2019-02-28', 5], [1, '2019-03-01', '2019-03-22', 20], [2, '2019-02-01', '2019-02-20', 15],
        [2, '2019-02-21', '2019-03-31', 30]]
prices = pd.DataFrame(data, columns=['product_id', 'start_date', 'end_date', 'price']).astype(
    {'product_id': 'Int64', 'start_date': 'datetime64[ns]', 'end_date': 'datetime64[ns]', 'price': 'Int64'})
data = [[1, '2019-02-25', 100], [1, '2019-03-01', 15], [2, '2019-02-10', 200], [2, '2019-03-22', 30]]
units_sold = pd.DataFrame(data, columns=['product_id', 'purchase_date', 'units']).astype(
    {'product_id': 'Int64', 'purchase_date': 'datetime64[ns]', 'units': 'Int64'})

In [189]:
prices_df = spark.createDataFrame(prices)
units_sold_df = spark.createDataFrame(units_sold)

In [190]:
prices_df.show()

+----------+-------------------+-------------------+-----+
|product_id|         start_date|           end_date|price|
+----------+-------------------+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|
+----------+-------------------+-------------------+-----+

In [191]:
units_sold_df.show()

+----------+-------------------+-----+
|product_id|      purchase_date|units|
+----------+-------------------+-----+
|         1|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|   15|
|         2|2019-02-10 00:00:00|  200|
|         2|2019-03-22 00:00:00|   30|
+----------+-------------------+-----+

In [ ]:
"""
Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places.

Return the result table in any order
"""

In [192]:
prices_df.join(units_sold_df, on='product_id').show()

+----------+-------------------+-------------------+-----+-------------------+-----+
|product_id|         start_date|           end_date|price|      purchase_date|units|
+----------+-------------------+-------------------+-----+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-02-25 00:00:00|  100|
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-03-01 00:00:00|   15|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-03-01 00:00:00|   15|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-02-10 00:00:00|  200|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-03-22 00:00:00|   30|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-02-10 00:00:00|  200|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-03-22 00:00:00|   30|
+----------+-------------------+-------------------+-----+-------------------+-----+

In [194]:
sales = prices_df.join(units_sold_df, on='product_id').filter((F.col('purchase_date') >= F.col('start_date')) & (F.col('purchase_date') < F.col('end_date')))

In [195]:
sales.show()

+----------+-------------------+-------------------+-----+-------------------+-----+
|product_id|         start_date|           end_date|price|      purchase_date|units|
+----------+-------------------+-------------------+-----+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-03-01 00:00:00|   15|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-02-10 00:00:00|  200|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-03-22 00:00:00|   30|
+----------+-------------------+-------------------+-----+-------------------+-----+

In [197]:
sales.groupBy('product_id').agg(F.round(F.sum(F.col('price') * F.col('units')) / F.sum('units'), 2).alias('average_price')).show()

+----------+-------------+
|product_id|average_price|
+----------+-------------+
|         1|         6.96|
|         2|        16.96|
+----------+-------------+

## Project Employees I

In [198]:
data = [[1, 1], [1, 2], [1, 3], [2, 1], [2, 4]]
project = pd.DataFrame(data, columns=['project_id', 'employee_id']).astype(
    {'project_id': 'Int64', 'employee_id': 'Int64'})
data = [[1, 'Khaled', 3], [2, 'Ali', 2], [3, 'John', 1], [4, 'Doe', 2]]
employee = pd.DataFrame(data, columns=['employee_id', 'name', 'experience_years']).astype(
    {'employee_id': 'Int64', 'name': 'object', 'experience_years': 'Int64'})

In [199]:
project_df = spark.createDataFrame(project)
employee_df = spark.createDataFrame(employee)

In [200]:
project_df.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

In [201]:
employee_df.show()

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

In [ ]:
"""Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

Return the result table in any order.
"""

In [203]:
exp = project_df.join(employee_df, on='employee_id', how='left')

In [204]:
exp.show()

+-----------+----------+------+----------------+
|employee_id|project_id|  name|experience_years|
+-----------+----------+------+----------------+
|          1|         1|Khaled|               3|
|          1|         2|Khaled|               3|
|          3|         1|  John|               1|
|          2|         1|   Ali|               2|
|          4|         2|   Doe|               2|
+-----------+----------+------+----------------+

In [208]:
exp.groupBy('project_id').agg(F.round(F.avg(F.col('experience_years')), 2).alias('average_years')).show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+

## Percentage of Users Attended a Contest

In [209]:
data = [[6, 'Alice'], [2, 'Bob'], [7, 'Alex']]
users = pd.DataFrame(data, columns=['user_id', 'user_name']).astype({'user_id': 'Int64', 'user_name': 'object'})
data = [[215, 6], [209, 2], [208, 2], [210, 6], [208, 6], [209, 7], [209, 6], [215, 7], [208, 7], [210, 2], [207, 2],
        [210, 7]]
register = pd.DataFrame(data, columns=['contest_id', 'user_id']).astype({'contest_id': 'Int64', 'user_id': 'Int64'})

In [210]:
users_df = spark.createDataFrame(users)
register_df = spark.createDataFrame(register)

In [211]:
users_df.show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      6|    Alice|
|      2|      Bob|
|      7|     Alex|
+-------+---------+

In [212]:
register_df.show()

+----------+-------+
|contest_id|user_id|
+----------+-------+
|       215|      6|
|       209|      2|
|       208|      2|
|       210|      6|
|       208|      6|
|       209|      7|
|       209|      6|
|       215|      7|
|       208|      7|
|       210|      2|
|       207|      2|
|       210|      7|
+----------+-------+

In [ ]:
"""
Write a solution to find the percentage of the users registered in each contest rounded to two decimals.

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.
"""

In [215]:
register_df.orderBy('contest_id').show()

+----------+-------+
|contest_id|user_id|
+----------+-------+
|       207|      2|
|       208|      2|
|       208|      6|
|       208|      7|
|       209|      2|
|       209|      7|
|       209|      6|
|       210|      6|
|       210|      2|
|       210|      7|
|       215|      6|
|       215|      7|
+----------+-------+

In [216]:
register_df.groupBy('contest_id').agg(F.count('user_id').alias('user_count')).show()

+----------+----------+
|contest_id|user_count|
+----------+----------+
|       215|         2|
|       209|         3|
|       208|         3|
|       207|         1|
|       210|         3|
+----------+----------+

In [220]:
register_users = register_df.groupBy('contest_id').agg(F.count('user_id').alias('user_count'))

In [221]:
register_users.show()

+----------+----------+
|contest_id|user_count|
+----------+----------+
|       215|         2|
|       209|         3|
|       208|         3|
|       207|         1|
|       210|         3|
+----------+----------+

In [226]:
register_users.withColumn('total_no_users', F.lit(users_df.count())).show()

+----------+----------+--------------+
|contest_id|user_count|total_no_users|
+----------+----------+--------------+
|       215|         2|             3|
|       209|         3|             3|
|       208|         3|             3|
|       207|         1|             3|
|       210|         3|             3|
+----------+----------+--------------+

In [231]:
register_users.withColumn('total_no_users', F.lit(users_df.count())).withColumn('percentage', F.round((F.col('user_count') / F.col('total_no_users'))*100, 2)).orderBy('percentage', ascending=False).select(['contest_id', 'percentage']).show()

+----------+----------+
|contest_id|percentage|
+----------+----------+
|       209|     100.0|
|       208|     100.0|
|       210|     100.0|
|       215|     66.67|
|       207|     33.33|
+----------+----------+

## Queries Quality and Percentage

In [232]:
data = [['Dog', 'Golden Retriever', 1, 5], ['Dog', 'German Shepherd', 2, 5], ['Dog', 'Mule', 200, 1],
        ['Cat', 'Shirazi', 5, 2], ['Cat', 'Siamese', 3, 3], ['Cat', 'Sphynx', 7, 4]]
queries = pd.DataFrame(data, columns=['query_name', 'result', 'position', 'rating']).astype(
    {'query_name': 'object', 'result': 'object', 'position': 'Int64', 'rating': 'Int64'})

In [233]:
queries_df = spark.createDataFrame(queries)

In [234]:
queries_df.show()

+----------+----------------+--------+------+
|query_name|          result|position|rating|
+----------+----------------+--------+------+
|       Dog|Golden Retriever|       1|     5|
|       Dog| German Shepherd|       2|     5|
|       Dog|            Mule|     200|     1|
|       Cat|         Shirazi|       5|     2|
|       Cat|         Siamese|       3|     3|
|       Cat|          Sphynx|       7|     4|
+----------+----------------+--------+------+

In [ ]:
"""
Query with rating less than 3 is a poor query.

We define query quality as:

The average of the ratio between query rating and its position.

We also define poor query percentage as:

The percentage of all queries with rating less than 3.

Write a solution to find each query_name, the quality and poor_query_percentage.

Both quality and poor_query_percentage should be rounded to 2 decimal places.

Return the result table in any order.
"""

In [238]:
queries_df.groupBy('query_name').agg(F.round(F.avg(F.col('rating')/F.col('position')), 2).alias('quality')).show()

+----------+-------+
|query_name|quality|
+----------+-------+
|       Cat|   0.66|
|       Dog|    2.5|
+----------+-------+

In [243]:
queries_df.groupBy('query_name').agg(F.round(F.avg(F.col('rating')/F.col('position')), 2).alias('quality'), F.round(F.avg(F.when(F.col('rating') < 3, 1).otherwise(0)) * 100, 2).alias('poor_query_percentage')).show()

+----------+-------+---------------------+
|query_name|quality|poor_query_percentage|
+----------+-------+---------------------+
|       Cat|   0.66|                33.33|
|       Dog|    2.5|                33.33|
+----------+-------+---------------------+

## Monthly Transactions I

In [244]:
data = [[121, 'US', 'approved', 1000, '2018-12-18'], [122, 'US', 'declined', 2000, '2018-12-19'],
        [123, 'US', 'approved', 2000, '2019-01-01'], [124, 'DE', 'approved', 2000, '2019-01-07']]
transactions = pd.DataFrame(data, columns=['id', 'country', 'state', 'amount', 'trans_date']).astype(
    {'id': 'Int64', 'country': 'object', 'state': 'object', 'amount': 'Int64', 'trans_date': 'datetime64[ns]'})

In [245]:
transactions_df = spark.createDataFrame(transactions)

In [246]:
transactions_df.show()

+---+-------+--------+------+-------------------+
| id|country|   state|amount|         trans_date|
+---+-------+--------+------+-------------------+
|121|     US|approved|  1000|2018-12-18 00:00:00|
|122|     US|declined|  2000|2018-12-19 00:00:00|
|123|     US|approved|  2000|2019-01-01 00:00:00|
|124|     DE|approved|  2000|2019-01-07 00:00:00|
+---+-------+--------+------+-------------------+

In [ ]:
"""
Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.
"""

In [248]:
transaction_month = transactions_df.withColumn('month', F.substring(F.col('trans_date'), 1, 7))

In [249]:
transaction_month.show()

+---+-------+--------+------+-------------------+-------+
| id|country|   state|amount|         trans_date|  month|
+---+-------+--------+------+-------------------+-------+
|121|     US|approved|  1000|2018-12-18 00:00:00|2018-12|
|122|     US|declined|  2000|2018-12-19 00:00:00|2018-12|
|123|     US|approved|  2000|2019-01-01 00:00:00|2019-01|
|124|     DE|approved|  2000|2019-01-07 00:00:00|2019-01|
+---+-------+--------+------+-------------------+-------+

In [257]:
transaction_month.groupBy(['month', 'country']).agg(F.count(F.col('id')), F.count(F.when(F.col('state') =='approved', 1)), F.sum(F.col('amount')), F.sum(F.when(F.col('state') =='approved', F.col('amount')))).show()

+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+
|  month|country|count(id)|count(CASE WHEN (state = approved) THEN 1 END)|sum(amount)|sum(CASE WHEN (state = approved) THEN amount END)|
+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+
|2019-01|     US|        1|                                             1|       2000|                                             2000|
|2019-01|     DE|        1|                                             1|       2000|                                             2000|
|2018-12|     US|        2|                                             1|       3000|                                             1000|
+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+

## Immediate Food Delivery II

In [258]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 2, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-12'],
        [4, 3, '2019-08-24', '2019-08-24'], [5, 3, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13'],
        [7, 4, '2019-08-09', '2019-08-09']]
delivery = pd.DataFrame(data,
                        columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype(
    {'delivery_id': 'Int64', 'customer_id': 'Int64', 'order_date': 'datetime64[ns]',
     'customer_pref_delivery_date': 'datetime64[ns]'})

In [259]:
delivery_df = spark.createDataFrame(delivery)

In [260]:
delivery_df.show()

+-----------+-----------+-------------------+---------------------------+
|delivery_id|customer_id|         order_date|customer_pref_delivery_date|
+-----------+-----------+-------------------+---------------------------+
|          1|          1|2019-08-01 00:00:00|        2019-08-02 00:00:00|
|          2|          2|2019-08-02 00:00:00|        2019-08-02 00:00:00|
|          3|          1|2019-08-11 00:00:00|        2019-08-12 00:00:00|
|          4|          3|2019-08-24 00:00:00|        2019-08-24 00:00:00|
|          5|          3|2019-08-21 00:00:00|        2019-08-22 00:00:00|
|          6|          2|2019-08-11 00:00:00|        2019-08-13 00:00:00|
|          7|          4|2019-08-09 00:00:00|        2019-08-09 00:00:00|
+-----------+-----------+-------------------+---------------------------+

In [ ]:
"""
If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.

The first order of a customer is the order with the earliest order date that the customer made. It is guaranteed that a customer has precisely one first order.

Write a solution to find the percentage of immediate orders in the first orders of all customers, rounded to 2 decimal places.
"""

In [268]:
window_spec = Window.partitionBy("customer_id").orderBy("order_date")
delivery_ranked = delivery_df.withColumn("row_num", F.row_number().over(window_spec))

delivery_ranked_filtered = delivery_ranked.withColumn('order_status', F.when(F.col('order_date') == F.col('customer_pref_delivery_date'), 'immediate').otherwise('scheduled')).orderBy(['customer_id', 'order_date']).filter(F.col('row_num') == 1)

In [269]:
delivery_ranked_filtered.show()

+-----------+-----------+-------------------+---------------------------+-------+------------+
|delivery_id|customer_id|         order_date|customer_pref_delivery_date|row_num|order_status|
+-----------+-----------+-------------------+---------------------------+-------+------------+
|          1|          1|2019-08-01 00:00:00|        2019-08-02 00:00:00|      1|   scheduled|
|          2|          2|2019-08-02 00:00:00|        2019-08-02 00:00:00|      1|   immediate|
|          5|          3|2019-08-21 00:00:00|        2019-08-22 00:00:00|      1|   scheduled|
|          7|          4|2019-08-09 00:00:00|        2019-08-09 00:00:00|      1|   immediate|
+-----------+-----------+-------------------+---------------------------+-------+------------+

In [273]:
delivery_ranked_filtered.agg(F.round(F.avg(F.when(F.col('order_status') == 'scheduled', 1).otherwise(0))*100, 2)).show()

+-----------------------------------------------------------------------------+
|round((avg(CASE WHEN (order_status = scheduled) THEN 1 ELSE 0 END) * 100), 2)|
+-----------------------------------------------------------------------------+
|                                                                         50.0|
+-----------------------------------------------------------------------------+

## Game Play Analysis IV

In [274]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0],
        [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype(
    {'player_id': 'Int64', 'device_id': 'Int64', 'event_date': 'datetime64[ns]', 'games_played': 'Int64'})

In [275]:
activity_df = spark.createDataFrame(activity)

In [276]:
activity_df.show()

+---------+---------+-------------------+------------+
|player_id|device_id|         event_date|games_played|
+---------+---------+-------------------+------------+
|        1|        2|2016-03-01 00:00:00|           5|
|        1|        2|2016-03-02 00:00:00|           6|
|        2|        3|2017-06-25 00:00:00|           1|
|        3|        1|2016-03-02 00:00:00|           0|
|        3|        4|2018-07-03 00:00:00|           5|
+---------+---------+-------------------+------------+

In [ ]:
"""
Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. 
In other words, you need to count the number of players that logged in for at least two consecutive days starting from their first login date, then divide that number by the total number of players.
"""

In [277]:
window_spec = Window.partitionBy("player_id").orderBy("event_date")
player_log = activity_df.withColumn("row_num", F.row_number().over(window_spec))

In [278]:
player_log.show()

+---------+---------+-------------------+------------+-------+
|player_id|device_id|         event_date|games_played|row_num|
+---------+---------+-------------------+------------+-------+
|        1|        2|2016-03-01 00:00:00|           5|      1|
|        1|        2|2016-03-02 00:00:00|           6|      2|
|        2|        3|2017-06-25 00:00:00|           1|      1|
|        3|        1|2016-03-02 00:00:00|           0|      1|
|        3|        4|2018-07-03 00:00:00|           5|      2|
+---------+---------+-------------------+------------+-------+

In [281]:
total_players = player_log.agg(F.countDistinct(F.col('player_id'))).show()

+-------------------------+
|count(DISTINCT player_id)|
+-------------------------+
|                        3|
+-------------------------+

In [282]:
loyal_players = player_log.filter(player_log['row_num'] == 2).agg(F.countDistinct(F.col('player_id'))).show()

+-------------------------+
|count(DISTINCT player_id)|
+-------------------------+
|                        2|
+-------------------------+

In [290]:
first_login_df = activity_df.groupBy("player_id").agg(F.min("event_date").alias("first_login_date"))

In [291]:
first_login_df.show()

+---------+-------------------+
|player_id|   first_login_date|
+---------+-------------------+
|        1|2016-03-01 00:00:00|
|        3|2016-03-02 00:00:00|
|        2|2017-06-25 00:00:00|
+---------+-------------------+

In [292]:
joined_df = activity_df.join(first_login_df, on="player_id")

In [293]:
joined_df.show()

+---------+---------+-------------------+------------+-------------------+
|player_id|device_id|         event_date|games_played|   first_login_date|
+---------+---------+-------------------+------------+-------------------+
|        1|        2|2016-03-01 00:00:00|           5|2016-03-01 00:00:00|
|        1|        2|2016-03-02 00:00:00|           6|2016-03-01 00:00:00|
|        3|        1|2016-03-02 00:00:00|           0|2016-03-02 00:00:00|
|        3|        4|2018-07-03 00:00:00|           5|2016-03-02 00:00:00|
|        2|        3|2017-06-25 00:00:00|           1|2017-06-25 00:00:00|
+---------+---------+-------------------+------------+-------------------+

In [304]:
relogin_df = joined_df.withColumn("day_after_first_login", F.date_add(F.col("first_login_date"), 1)).filter(F.col("event_date") == F.col("day_after_first_login")).select("player_id").distinct().count()

In [301]:
players_no = joined_df.select('player_id').distinct().count()

In [ ]:
fraction = round(relogin_df / total_players, 2)

In [306]:
fraction

0.33

# Sorting and Grouping

## Number of Unique Subjects Taught by Each Teacher

In [307]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype(
    {'teacher_id': 'Int64', 'subject_id': 'Int64', 'dept_id': 'Int64'})

In [308]:
teacher_df = spark.createDataFrame(teacher)

In [309]:
teacher_df.show()

+----------+----------+-------+
|teacher_id|subject_id|dept_id|
+----------+----------+-------+
|         1|         2|      3|
|         1|         2|      4|
|         1|         3|      3|
|         2|         1|      1|
|         2|         2|      1|
|         2|         3|      1|
|         2|         4|      1|
+----------+----------+-------+

In [ ]:
"""
Write a solution to calculate the number of unique subjects each teacher teaches in the university.

Return the result table in any order.
"""

In [312]:
teacher_df.groupBy('teacher_id').agg(F.count_distinct('subject_id').alias('count')).show()

+----------+-----+
|teacher_id|count|
+----------+-----+
|         1|    2|
|         2|    4|
+----------+-----+

## User Activity for the Past 30 Days I

In [313]:
data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'],
        [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'],
        [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'],
        [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype(
    {'user_id': 'Int64', 'session_id': 'Int64', 'activity_date': 'datetime64[ns]', 'activity_type': 'object'})

In [314]:
activity_df = spark.createDataFrame(activity)

In [315]:
activity_df.show()

+-------+----------+-------------------+-------------+
|user_id|session_id|      activity_date|activity_type|
+-------+----------+-------------------+-------------+
|      1|         1|2019-07-20 00:00:00| open_session|
|      1|         1|2019-07-20 00:00:00|  scroll_down|
|      1|         1|2019-07-20 00:00:00|  end_session|
|      2|         4|2019-07-20 00:00:00| open_session|
|      2|         4|2019-07-21 00:00:00| send_message|
|      2|         4|2019-07-21 00:00:00|  end_session|
|      3|         2|2019-07-21 00:00:00| open_session|
|      3|         2|2019-07-21 00:00:00| send_message|
|      3|         2|2019-07-21 00:00:00|  end_session|
|      4|         3|2019-06-25 00:00:00| open_session|
|      4|         3|2019-06-25 00:00:00|  end_session|
+-------+----------+-------------------+-------------+

In [ ]:
"""
Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

Return the result table in any order.
"""

In [321]:
activity_df.withColumn('end_date', F.lit('2019-07-27').cast("timestamp")).withColumn('start_date', F.date_add(F.col('end_date'), -30)).filter((F.col('activity_date') >= F.col('start_date')) & (F.col('activity_date') <= F.col('end_date'))).groupBy('activity_date').agg(F.count_distinct('user_id')).show()

+-------------------+-----------------------+
|      activity_date|count(DISTINCT user_id)|
+-------------------+-----------------------+
|2019-07-21 00:00:00|                      2|
|2019-07-20 00:00:00|                      2|
+-------------------+-----------------------+

## Product Sales Analysis III

In [322]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype(
    {'sale_id': 'Int64', 'product_id': 'Int64', 'year': 'Int64', 'quantity': 'Int64', 'price': 'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype(
    {'product_id': 'Int64', 'product_name': 'object'})

In [323]:
sales_df = spark.createDataFrame(sales)

In [324]:
sales_df.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

In [325]:
product_df = spark.createDataFrame(product)

In [326]:
product_df.show()

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [ ]:
"""
Write a solution to select the product id, year, quantity, and price for the first year of every product sold.

Return the resulting table in any order.
"""

In [329]:
sales_first_year = sales_df.groupBy("product_id").agg(F.min("year").alias("first_year"))

In [333]:
sales_df.join(sales_first_year, on='product_id', how='left').filter(F.col('year') == F.col('first_year')).select(['product_id', 'year', 'quantity', 'price']).show()

+----------+----+--------+-----+
|product_id|year|quantity|price|
+----------+----+--------+-----+
|       100|2008|      10| 5000|
|       200|2011|      15| 9000|
+----------+----+--------+-----+

## Classes More Than 5 Students

In [334]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'],
        ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student': 'object', 'class': 'object'})

In [335]:
courses_df = spark.createDataFrame(courses)

In [336]:
courses_df.show()

+-------+--------+
|student|   class|
+-------+--------+
|      A|    Math|
|      B| English|
|      C|    Math|
|      D| Biology|
|      E|    Math|
|      F|Computer|
|      G|    Math|
|      H|    Math|
|      I|    Math|
+-------+--------+

In [ ]:
"""
Write a solution to find all the classes that have at least five students.

Return the result table in any order.
"""

In [339]:
courses_df.groupBy('class').agg(F.count_distinct(F.col('student')).alias('number_of_students')).filter(F.col('number_of_students') > 5).select('class').show()

+-----+
|class|
+-----+
| Math|
+-----+

## Find Followers Count

In [340]:
data = [['0', '1'], ['1', '0'], ['2', '0'], ['2', '1']]
followers = pd.DataFrame(data, columns=['user_id', 'follower_id']).astype({'user_id': 'Int64', 'follower_id': 'Int64'})

In [341]:
followers_df = spark.createDataFrame(followers)

In [342]:
followers_df.show()

+-------+-----------+
|user_id|follower_id|
+-------+-----------+
|      0|          1|
|      1|          0|
|      2|          0|
|      2|          1|
+-------+-----------+

In [ ]:
"""
Write a solution that will, for each user, return the number of followers.

Return the result table ordered by user_id in ascending order.
"""

In [345]:
followers_df.groupBy('user_id').agg(F.count_distinct(F.col('follower_id')).alias('no_followers')).orderBy(F.col('no_followers')).show()

+-------+------------+
|user_id|no_followers|
+-------+------------+
|      0|           1|
|      1|           1|
|      2|           2|
+-------+------------+

## Biggest Single Number

In [346]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]  # first example
#data = [[8], [8], [7], [7], [3], [3], [3]] # second example
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num': 'Int64'})

In [347]:
my_numbers_df = spark.createDataFrame(my_numbers)

In [348]:
my_numbers_df.show()

+---+
|num|
+---+
|  8|
|  8|
|  3|
|  3|
|  1|
|  4|
|  5|
|  6|
+---+

In [ ]:
"""
A single number is a number that appeared only once in the MyNumbers table.

Find the largest single number. If there is no single number, report null.
"""

In [352]:
my_numbers_df.groupBy('num').agg(F.count(F.col('num')).alias('count')).filter(F.col('count') == 1).agg(F.max(F.col('num')).alias('max')).show()

+---+
|max|
+---+
|  6|
+---+

## Customers Who Bought All Products

In [353]:
data = [[1, 5], [2, 6], [3, 5], [3, 6], [1, 6]]
customer = pd.DataFrame(data, columns=['customer_id', 'product_key']).astype(
    {'customer_id': 'Int64', 'product_key': 'Int64'})
data = [[5], [6]]
product = pd.DataFrame(data, columns=['product_key']).astype({'product_key': 'Int64'})

In [354]:
customer_df = spark.createDataFrame(customer)

In [355]:
customer_df.show()

+-----------+-----------+
|customer_id|product_key|
+-----------+-----------+
|          1|          5|
|          2|          6|
|          3|          5|
|          3|          6|
|          1|          6|
+-----------+-----------+

In [356]:
product_df = spark.createDataFrame(product)

In [357]:
product_df.show()

+-----------+
|product_key|
+-----------+
|          5|
|          6|
+-----------+

In [ ]:
"""
Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

Return the result table in any order.
"""

In [367]:
number_of_products = product_df.agg(F.count('product_key')).first()[0]

In [369]:
number_of_products

2

In [370]:
customer_df.groupBy('customer_id').agg(F.count_distinct(F.col('product_key')).alias('no_products_bought')).filter(F.col('no_products_bought') == number_of_products).show()

+-----------+------------------+
|customer_id|no_products_bought|
+-----------+------------------+
|          1|                 2|
|          3|                 2|
+-----------+------------------+

# Advanced Select and Joins

## The Number of Employees Which Report to Each Employee

In [371]:
data = [[9, 'Hercy', None, 43], [6, 'Alice', 9, 41], [4, 'Bob', 9, 36], [2, 'Winston', None, 37]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'reports_to', 'age']) \
    .astype({'employee_id': 'Int64', 'name': 'object', 'reports_to': 'Int64', 'age': 'Int64'})

In [372]:
schema = StructType([
    StructField("employee_id", IntegerType(), False),
    StructField("name", StringType(), True),
    StructField("reports_to", IntegerType(), True),
    StructField("age", IntegerType(), True)
])

employees_df = spark.createDataFrame(data, schema=schema)

In [373]:
employees_df.show()

+-----------+-------+----------+---+
|employee_id|   name|reports_to|age|
+-----------+-------+----------+---+
|          9|  Hercy|      NULL| 43|
|          6|  Alice|         9| 41|
|          4|    Bob|         9| 36|
|          2|Winston|      NULL| 37|
+-----------+-------+----------+---+

In [ ]:
"""
For this problem, we will consider a manager an employee who has at least 1 other employee reporting to them.

Write a solution to report the ids and the names of all managers, the number of employees who report directly to them, and the average age of the reports rounded to the nearest integer.

Return the result table ordered by employee_id.
"""

In [382]:
employees_info = employees_df.filter(~employees_df['reports_to'].isNull()).groupBy('reports_to').agg(F.count_distinct(F.col('employee_id')).alias('no_emplyees'), F.round(F.avg(F.col('age')), 0).alias('avg_age'))

In [383]:
employees_info.show()

+----------+-----------+-------+
|reports_to|no_emplyees|avg_age|
+----------+-----------+-------+
|         9|          2|   39.0|
+----------+-----------+-------+

In [385]:
employees_df.join(employees_info, employees_df['employee_id'] == employees_info['reports_to'], how='inner').show()

+-----------+-----+----------+---+----------+-----------+-------+
|employee_id| name|reports_to|age|reports_to|no_emplyees|avg_age|
+-----------+-----+----------+---+----------+-----------+-------+
|          9|Hercy|      NULL| 43|         9|          2|   39.0|
+-----------+-----+----------+---+----------+-----------+-------+

## Primary Department for Each Employee

In [386]:
data = [['1', '1', 'N'], ['2', '1', 'Y'], ['2', '2', 'N'], ['3', '3', 'N'], ['4', '2', 'N'], ['4', '3', 'Y'],
        ['4', '4', 'N']]
employee = pd.DataFrame(data, columns=['employee_id', 'department_id', 'primary_flag']).astype(
    {'employee_id': 'Int64', 'department_id': 'Int64', 'primary_flag': 'object'})

In [387]:
employee_df = spark.createDataFrame(employee)

In [388]:
employee_df.show()

+-----------+-------------+------------+
|employee_id|department_id|primary_flag|
+-----------+-------------+------------+
|          1|            1|           N|
|          2|            1|           Y|
|          2|            2|           N|
|          3|            3|           N|
|          4|            2|           N|
|          4|            3|           Y|
|          4|            4|           N|
+-----------+-------------+------------+

In [ ]:
"""
Employees can belong to multiple departments. When the employee joins other departments, they need to decide which department is their primary department. Note that when an employee belongs to only one department, their primary column is 'N'.

Write a solution to report all the employees with their primary department. For employees who belong to one department, report their only department.

Return the result table in any order.
"""

In [403]:
window_spec = Window.partitionBy("employee_id").orderBy(F.desc("primary_flag"), F.col("department_id"))
employee_history = employee_df.withColumn("department_order", F.row_number().over(window_spec))

In [405]:
employee_history.show()

+-----------+-------------+------------+----------------+
|employee_id|department_id|primary_flag|department_order|
+-----------+-------------+------------+----------------+
|          1|            1|           N|               1|
|          2|            1|           Y|               1|
|          2|            2|           N|               2|
|          3|            3|           N|               1|
|          4|            3|           Y|               1|
|          4|            2|           N|               2|
|          4|            4|           N|               3|
+-----------+-------------+------------+----------------+

In [406]:
employee_history.filter((F.col('department_order') == 1) | (F.col('primary_flag') == 'Y')).show()

+-----------+-------------+------------+----------------+
|employee_id|department_id|primary_flag|department_order|
+-----------+-------------+------------+----------------+
|          1|            1|           N|               1|
|          2|            1|           Y|               1|
|          3|            3|           N|               1|
|          4|            3|           Y|               1|
+-----------+-------------+------------+----------------+

## Triangle Judgement

In [407]:
data = [[13, 15, 30], [10, 20, 15]]
triangle = pd.DataFrame(data, columns=['x', 'y', 'z']).astype({'x': 'Int64', 'y': 'Int64', 'z': 'Int64'})

In [408]:
triangle_df = spark.createDataFrame(triangle)

In [409]:
triangle_df.show()

+---+---+---+
|  x|  y|  z|
+---+---+---+
| 13| 15| 30|
| 10| 20| 15|
+---+---+---+

In [ ]:
"""Report for every three line segments whether they can form a triangle.

Return the result table in any order."""

In [413]:
triangle_df.withColumn('traingle', F.when((F.col('x') + F.col('y') > F.col('z')) &
                                          (F.col('x') + F.col('z') > F.col('y')) &
                                          (F.col('z') + F.col('y') > F.col('x')), 'Yes').otherwise('No')).show()

+---+---+---+--------+
|  x|  y|  z|traingle|
+---+---+---+--------+
| 13| 15| 30|      No|
| 10| 20| 15|     Yes|
+---+---+---+--------+

## Consecutive Numbers

In [414]:
data = [[1, 1], [2, 1], [3, 1], [4, 2], [5, 1], [6, 2], [7, 2]]
logs = pd.DataFrame(data, columns=['id', 'num']).astype({'id':'Int64', 'num':'Int64'})

In [415]:
logs_df = spark.createDataFrame(logs)

In [416]:
logs_df.show()

+---+---+
| id|num|
+---+---+
|  1|  1|
|  2|  1|
|  3|  1|
|  4|  2|
|  5|  1|
|  6|  2|
|  7|  2|
+---+---+

In [ ]:
"""
Find all numbers that appear at least three times consecutively.

Return the result table in any order.
"""

In [ ]:
# approach is to check the previous and 2nd prev value and if both are equal to val then

In [418]:
w = Window.orderBy("id")

In [419]:
logs_df = logs_df.withColumn('prev1_val', F.lag(F.col('num'), 1).over(w))
logs_df = logs_df.withColumn('prev2_val', F.lag(F.col('num'), 2).over(w))

In [421]:
logs_df.show()

+---+---+---------+---------+
| id|num|prev1_val|prev2_val|
+---+---+---------+---------+
|  1|  1|     NULL|     NULL|
|  2|  1|        1|     NULL|
|  3|  1|        1|        1|
|  4|  2|        1|        1|
|  5|  1|        2|        1|
|  6|  2|        1|        2|
|  7|  2|        2|        1|
+---+---+---------+---------+

In [425]:
logs_df.filter((F.col('num') == F.col('prev1_val')) & (F.col('num') == F.col('prev2_val'))).select(F.col('num').alias('ConsecutiveNums')).show()

+---------------+
|ConsecutiveNums|
+---------------+
|              1|
+---------------+

## Product Price at a Given Date

In [434]:
data = [[1, 20, '2019-08-14'], [2, 50, '2019-08-14'], [1, 30, '2019-08-15'], [1, 35, '2019-08-16'],
        [2, 65, '2019-08-17'], [3, 20, '2019-08-18']]

products = pd.DataFrame(data, columns=['product_id', 'new_price', 'change_date']).astype(
    {'product_id': 'Int64', 'new_price': 'Int64', 'change_date': 'datetime64[ns]'})

In [435]:
products_df = spark.createDataFrame(products)

In [436]:
products_df.show()

+----------+---------+-------------------+
|product_id|new_price|        change_date|
+----------+---------+-------------------+
|         1|       20|2019-08-14 00:00:00|
|         2|       50|2019-08-14 00:00:00|
|         1|       30|2019-08-15 00:00:00|
|         1|       35|2019-08-16 00:00:00|
|         2|       65|2019-08-17 00:00:00|
|         3|       20|2019-08-18 00:00:00|
+----------+---------+-------------------+

In [ ]:
"""
Write a solution to find the prices of all products on 2019-08-16. Assume the price of all products before any change is 10.

Return the result table in any order.
"""

In [438]:
filtered_products = products_df.filter(F.col('change_date') <= '2019-08-16')

In [439]:
filtered_products.show()

+----------+---------+-------------------+
|product_id|new_price|        change_date|
+----------+---------+-------------------+
|         1|       20|2019-08-14 00:00:00|
|         2|       50|2019-08-14 00:00:00|
|         1|       30|2019-08-15 00:00:00|
|         1|       35|2019-08-16 00:00:00|
+----------+---------+-------------------+

In [445]:
window_spec = Window.partitionBy("product_id").orderBy(F.col("change_date").desc())
latest_price = filtered_products.withColumn("latest_price_no", F.row_number().over(window_spec)).filter(F.col('latest_price_no') == 1).withColumn('latest_price', F.col('new_price'))

In [446]:
latest_price.show()

+----------+---------+-------------------+---------------+------------+
|product_id|new_price|        change_date|latest_price_no|latest_price|
+----------+---------+-------------------+---------------+------------+
|         1|       35|2019-08-16 00:00:00|              1|          35|
|         2|       50|2019-08-14 00:00:00|              1|          50|
+----------+---------+-------------------+---------------+------------+

In [444]:
products_df.show()

+----------+---------+-------------------+
|product_id|new_price|        change_date|
+----------+---------+-------------------+
|         1|       20|2019-08-14 00:00:00|
|         2|       50|2019-08-14 00:00:00|
|         1|       30|2019-08-15 00:00:00|
|         1|       35|2019-08-16 00:00:00|
|         2|       65|2019-08-17 00:00:00|
|         3|       20|2019-08-18 00:00:00|
+----------+---------+-------------------+

In [447]:
all_products_df = products_df.select('product_id').distinct()

In [448]:
all_products_df.show()

+----------+
|product_id|
+----------+
|         1|
|         3|
|         2|
+----------+

In [451]:
all_products_df_total = all_products_df.join(latest_price, on='product_id', how='left')

In [452]:
all_products_df_total.show()

+----------+---------+-------------------+---------------+------------+
|product_id|new_price|        change_date|latest_price_no|latest_price|
+----------+---------+-------------------+---------------+------------+
|         1|       35|2019-08-16 00:00:00|              1|          35|
|         3|     NULL|               NULL|           NULL|        NULL|
|         2|       50|2019-08-14 00:00:00|              1|          50|
+----------+---------+-------------------+---------------+------------+

In [457]:
all_products_df_total.na.fill(10, 'latest_price').select(['product_id', 'latest_price']).show()

+----------+------------+
|product_id|latest_price|
+----------+------------+
|         1|          35|
|         3|          10|
|         2|          50|
+----------+------------+

## Last Person to Fit in the Bus

In [458]:
data = [[5, 'Alice', 250, 1], [4, 'Bob', 175, 5], [3, 'Alex', 350, 2], [6, 'John Cena', 400, 3], [1, 'Winston', 500, 6],
        [2, 'Marie', 200, 4]]
queue = pd.DataFrame(data, columns=['person_id', 'person_name', 'weight', 'turn']).astype(
    {'person_id': 'Int64', 'person_name': 'object', 'weight': 'Int64', 'turn': 'Int64'})

In [459]:
queue_df = spark.createDataFrame(queue)

In [460]:
queue_df.show()

+---------+-----------+------+----+
|person_id|person_name|weight|turn|
+---------+-----------+------+----+
|        5|      Alice|   250|   1|
|        4|        Bob|   175|   5|
|        3|       Alex|   350|   2|
|        6|  John Cena|   400|   3|
|        1|    Winston|   500|   6|
|        2|      Marie|   200|   4|
+---------+-----------+------+----+

In [ ]:
"""
There is a queue of people waiting to board a bus. However, the bus has a weight limit of 1000 kilograms, so there may be some people who cannot board.

Write a solution to find the person_name of the last person that can fit on the bus without exceeding the weight limit. The test cases are generated such that the first person does not exceed the weight limit.
"""

In [461]:
queue_df.orderBy('turn').show()

+---------+-----------+------+----+
|person_id|person_name|weight|turn|
+---------+-----------+------+----+
|        5|      Alice|   250|   1|
|        3|       Alex|   350|   2|
|        6|  John Cena|   400|   3|
|        2|      Marie|   200|   4|
|        4|        Bob|   175|   5|
|        1|    Winston|   500|   6|
+---------+-----------+------+----+

In [464]:
window_spec = Window.orderBy(F.col("turn"))
cumsum_queue = queue_df.withColumn("cumsum", F.sum(F.col('weight')).over(window_spec))

In [465]:
cumsum_queue.show()

+---------+-----------+------+----+------+
|person_id|person_name|weight|turn|cumsum|
+---------+-----------+------+----+------+
|        5|      Alice|   250|   1|   250|
|        3|       Alex|   350|   2|   600|
|        6|  John Cena|   400|   3|  1000|
|        2|      Marie|   200|   4|  1200|
|        4|        Bob|   175|   5|  1375|
|        1|    Winston|   500|   6|  1875|
+---------+-----------+------+----+------+

In [470]:
cumsum_queue.filter(F.col('cumsum') <= 1000).orderBy(F.col('cumsum').desc()).select(F.col('person_name')).limit(1).show()

+-----------+
|person_name|
+-----------+
|  John Cena|
+-----------+

## Count Salary Categories

In [471]:
data = [[3, 108939], [2, 12747], [8, 87709], [6, 91796]]
accounts = pd.DataFrame(data, columns=['account_id', 'income']).astype({'account_id':'Int64', 'income':'Int64'})

In [472]:
accounts_df = spark.createDataFrame(accounts)

In [473]:
accounts_df.show()

+----------+------+
|account_id|income|
+----------+------+
|         3|108939|
|         2| 12747|
|         8| 87709|
|         6| 91796|
+----------+------+

In [ ]:
"""
Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

"Low Salary": All the salaries strictly less than 20000. "Average Salary": All the salaries in the inclusive range (20000, 50000). "High Salary": All the salaries strictly greater than 50000.

The result table must contain all three categories. If there are no accounts in a category, return 0.

Return the result table in any order.
"""

In [478]:
categories = accounts_df.withColumn('category', F.when(F.col('income') < 20000, 'Low Salary').when((F.col('income') >= 20000) & (F.col('income') <= 50000), 'Average Salary').when(F.col('income') > 50000, 'High Salary'))

In [479]:
categories.show()

+----------+------+-----------+
|account_id|income|   category|
+----------+------+-----------+
|         3|108939|High Salary|
|         2| 12747| Low Salary|
|         8| 87709|High Salary|
|         6| 91796|High Salary|
+----------+------+-----------+

In [486]:
categories_summary = categories.groupBy('category').agg(F.count('category').alias('accounts_count '))

In [487]:
categories_summary.show()

+-----------+---------------+
|   category|accounts_count |
+-----------+---------------+
|High Salary|              3|
| Low Salary|              1|
+-----------+---------------+

In [488]:
all_categories = spark.createDataFrame([
    Row(category='Low Salary'),
    Row(category='Average Salary'),
    Row(category='High Salary')
])

In [489]:
all_categories.show()

+--------------+
|      category|
+--------------+
|    Low Salary|
|Average Salary|
|   High Salary|
+--------------+

In [492]:
result = all_categories.join(categories_summary, on='category', how='left').na.fill(0, 'accounts_count ')

In [493]:
result.show()

+--------------+---------------+
|      category|accounts_count |
+--------------+---------------+
|   High Salary|              3|
|    Low Salary|              1|
|Average Salary|              0|
+--------------+---------------+

# Subqueries

## Employees Whose Manager Left the Company

In [504]:
data = [[3, 'Mila', 9, 60301], [12, 'Antonella', None, 31000], [13, 'Emery', None, 67084], [1, 'Kalel', 11, 21241],
        [9, 'Mikaela', None, 50937], [11, 'Joziah', 6, 28485]]
employees = pd.DataFrame(data, columns=['employee_id', 'name', 'manager_id', 'salary']).astype(
    {'employee_id': 'Int64', 'name': 'object', 'manager_id': 'Int64', 'salary': 'Int64'})

# # spark has issues with null in Int64 of pandas, hence converting to str for now. Will convert to int after loading in spark.
employees['manager_id'] = employees['manager_id'].astype('str')

In [506]:
employees_df = spark.createDataFrame(employees)

In [507]:
employees_df.show()

+-----------+---------+----------+------+
|employee_id|     name|manager_id|salary|
+-----------+---------+----------+------+
|          3|     Mila|         9| 60301|
|         12|Antonella|      <NA>| 31000|
|         13|    Emery|      <NA>| 67084|
|          1|    Kalel|        11| 21241|
|          9|  Mikaela|      <NA>| 50937|
|         11|   Joziah|         6| 28485|
+-----------+---------+----------+------+

In [510]:
employees_df = employees_df.withColumn('manager_id', F.col('manager_id').try_cast('int'))

In [511]:
employees_df.show()

+-----------+---------+----------+------+
|employee_id|     name|manager_id|salary|
+-----------+---------+----------+------+
|          3|     Mila|         9| 60301|
|         12|Antonella|      NULL| 31000|
|         13|    Emery|      NULL| 67084|
|          1|    Kalel|        11| 21241|
|          9|  Mikaela|      NULL| 50937|
|         11|   Joziah|         6| 28485|
+-----------+---------+----------+------+

In [ ]:
"""
Find the IDs of the employees whose salary is strictly less than dollar 30000 and whose manager left the company. 
When a manager leaves the company, their information is deleted from the Employees table, but the reports still have their manager_id set to the manager that left.

Return the result table ordered by employee_id.
"""

In [530]:
low_salary = employees_df.filter(F.col('salary') < 30000).select(['employee_id', 'manager_id'])

In [531]:
low_salary.show()

+-----------+----------+
|employee_id|manager_id|
+-----------+----------+
|          1|        11|
|         11|         6|
+-----------+----------+

In [ ]:
low_salary = employees_df.filter(F.col("salary") < 30000)

current_managers = employees_df.select("employee_id").withColumnRenamed("employee_id", "manager_id")

In [538]:
current_managers.show()

+----------+
|manager_id|
+----------+
|         3|
|        12|
|        13|
|         1|
|         9|
|        11|
+----------+

In [ ]:
result = low_salary.join(current_managers, on="manager_id", how="left_anti")

In [540]:
result.show()

+----------+-----------+------+------+
|manager_id|employee_id|  name|salary|
+----------+-----------+------+------+
|         6|         11|Joziah| 28485|
+----------+-----------+------+------+

In [539]:
result.select("employee_id").orderBy("employee_id").show()

+-----------+
|employee_id|
+-----------+
|         11|
+-----------+

## Exchange Seats

In [541]:
data = [[1, 'Abbot'], [2, 'Doris'], [3, 'Emerson'], [4, 'Green'], [5, 'Jeames']]
seat = pd.DataFrame(data, columns=['id', 'student']).astype({'id': 'Int64', 'student': 'object'})

In [542]:
seat_df = spark.createDataFrame(seat)

In [543]:
seat_df.show()

+---+-------+
| id|student|
+---+-------+
|  1|  Abbot|
|  2|  Doris|
|  3|Emerson|
|  4|  Green|
|  5| Jeames|
+---+-------+

In [ ]:
"""
Write a solution to swap the seat id of every two consecutive students. If the number of students is odd, the id of the last student is not swapped.

Return the result table ordered by id in ascending order.
"""

In [552]:
max_val = seat_df.agg(F.max('id')).collect()[0][0]

In [546]:

seat_df.withColumn('id_fixed', F.col('id') % 2).show()

+---+-------+--------+
| id|student|id_fixed|
+---+-------+--------+
|  1|  Abbot|       1|
|  2|  Doris|       0|
|  3|Emerson|       1|
|  4|  Green|       0|
|  5| Jeames|       1|
+---+-------+--------+

In [555]:
seat_df.withColumn('id_fixed', F.when(F.col('id') % 2 == 0, F.col('id')-1).when(F.col('id') == max_val, F.col('id')).otherwise(F.col('id') + 1)).select(['id_fixed', 'student']).orderBy('id_fixed').withColumnRenamed('id_fixed', 'id').show()

+---+-------+
| id|student|
+---+-------+
|  1|  Doris|
|  2|  Abbot|
|  3|  Green|
|  4|Emerson|
|  5| Jeames|
+---+-------+

## Movie Rating

In [556]:
data = [[1, 'Avengers'], [2, 'Frozen 2'], [3, 'Joker']]
movies = pd.DataFrame(data, columns=['movie_id', 'title']).astype({'movie_id': 'Int64', 'title': 'object'})
data = [[1, 'Daniel'], [2, 'Monica'], [3, 'Maria'], [4, 'James']]
users = pd.DataFrame(data, columns=['user_id', 'name']).astype({'user_id': 'Int64', 'name': 'object'})
data = [[1, 1, 3, '2020-01-12'], [1, 2, 4, '2020-02-11'], [1, 3, 2, '2020-02-12'], [1, 4, 1, '2020-01-01'],
        [2, 1, 5, '2020-02-17'], [2, 2, 2, '2020-02-01'], [2, 3, 2, '2020-03-01'], [3, 1, 3, '2020-02-22'],
        [3, 2, 4, '2020-02-25']]
movie_rating = pd.DataFrame(data, columns=['movie_id', 'user_id', 'rating', 'created_at']).astype(
    {'movie_id': 'Int64', 'user_id': 'Int64', 'rating': 'Int64', 'created_at': 'datetime64[ns]'})

In [557]:
movies_df = spark.createDataFrame(movies)
users_df = spark.createDataFrame(users)
movie_rating_df = spark.createDataFrame(movie_rating)

In [558]:
movies_df.show()

+--------+--------+
|movie_id|   title|
+--------+--------+
|       1|Avengers|
|       2|Frozen 2|
|       3|   Joker|
+--------+--------+

In [559]:
users_df.show()

+-------+------+
|user_id|  name|
+-------+------+
|      1|Daniel|
|      2|Monica|
|      3| Maria|
|      4| James|
+-------+------+

In [560]:
movie_rating_df.show()

+--------+-------+------+-------------------+
|movie_id|user_id|rating|         created_at|
+--------+-------+------+-------------------+
|       1|      1|     3|2020-01-12 00:00:00|
|       1|      2|     4|2020-02-11 00:00:00|
|       1|      3|     2|2020-02-12 00:00:00|
|       1|      4|     1|2020-01-01 00:00:00|
|       2|      1|     5|2020-02-17 00:00:00|
|       2|      2|     2|2020-02-01 00:00:00|
|       2|      3|     2|2020-03-01 00:00:00|
|       3|      1|     3|2020-02-22 00:00:00|
|       3|      2|     4|2020-02-25 00:00:00|
+--------+-------+------+-------------------+

In [ ]:
"""
Find the name of the user who has rated the greatest number of movies. 
In case of a tie, return the lexicographically smaller user name. 
Find the movie name with the highest average rating in February 2020. 
In case of a tie, return the lexicographically smaller movie name. 
The result format is in the following example.
"""

In [571]:
user_name = movie_rating_df.groupBy('user_id').agg(F.count('movie_id').alias('movie_count')).join(users_df, on='user_id', how='left').withColumn('name_len', F.length(F.col('name'))).orderBy(['movie_count', 'name_len'], ascending=[False, True]).select('name').limit(1)

In [572]:
user_name.show()

+------+
|  name|
+------+
|Daniel|
+------+

In [585]:
title_name = movie_rating_df.filter((F.col('created_at') > '2020-01-31') & (F.col('created_at') < '2020-03-01')).groupBy('movie_id').agg(F.avg(F.col('rating')).alias('avg_rating')).join(movies_df, on='movie_id', how='left').withColumn('title_len', F.length(F.col('title'))).orderBy(['avg_rating', 'title'], ascending=[False, True]).select('title').limit(1)

In [586]:
title_name.show()

+--------+
|   title|
+--------+
|Frozen 2|
+--------+

In [588]:
final_df = user_name.unionAll(title_name)
final_df.show()

+--------+
|    name|
+--------+
|  Daniel|
|Frozen 2|
+--------+

## Restaurant Growth

In [589]:
data = [[1, 'Jhon', '2019-01-01', 100], [2, 'Daniel', '2019-01-02', 110], [3, 'Jade', '2019-01-03', 120],
        [4, 'Khaled', '2019-01-04', 130], [5, 'Winston', '2019-01-05', 110], [6, 'Elvis', '2019-01-06', 140],
        [7, 'Anna', '2019-01-07', 150], [8, 'Maria', '2019-01-08', 80], [9, 'Jaze', '2019-01-09', 110],
        [1, 'Jhon', '2019-01-10', 130], [3, 'Jade', '2019-01-10', 150]]
       # [1, 'Jhon', '2019-01-10', 130], [3, 'Jade', '2019-01-10', 150],[3, 'Jade', '2019-01-12', 150]]
customer = pd.DataFrame(data, columns=['customer_id', 'name', 'visited_on', 'amount']).astype(
    {'customer_id': 'Int64', 'name': 'object', 'visited_on': 'datetime64[ns]', 'amount': 'Int64'})

In [590]:
customer_df = spark.createDataFrame(customer)

In [591]:
customer_df.show()

+-----------+-------+-------------------+------+
|customer_id|   name|         visited_on|amount|
+-----------+-------+-------------------+------+
|          1|   Jhon|2019-01-01 00:00:00|   100|
|          2| Daniel|2019-01-02 00:00:00|   110|
|          3|   Jade|2019-01-03 00:00:00|   120|
|          4| Khaled|2019-01-04 00:00:00|   130|
|          5|Winston|2019-01-05 00:00:00|   110|
|          6|  Elvis|2019-01-06 00:00:00|   140|
|          7|   Anna|2019-01-07 00:00:00|   150|
|          8|  Maria|2019-01-08 00:00:00|    80|
|          9|   Jaze|2019-01-09 00:00:00|   110|
|          1|   Jhon|2019-01-10 00:00:00|   130|
|          3|   Jade|2019-01-10 00:00:00|   150|
+-----------+-------+-------------------+------+

In [ ]:
"""
You are the restaurant owner and you want to analyze a possible expansion (there will be at least one customer every day).

Compute the moving average of how much the customer paid in a seven days window (i.e., current day + 6 days before). average_amount should be rounded to two decimal places.

Return the result table ordered by visited_on in ascending order.
"""

In [624]:
daily_amounts = customer_df.groupBy('visited_on').agg(F.sum('amount').alias('total_amount_daily')).orderBy('visited_on')

In [625]:
window_spec = Window.orderBy('visited_on').rowsBetween(-6, 0)

In [626]:
daily_amounts.withColumn('avg_amount', F.round(F.avg('total_amount_daily').over(window_spec), 2)).withColumn('day_count', F.count('total_amount_daily').over(window_spec)).filter(F.col('day_count') == 7).show()

+-------------------+------------------+----------+---------+
|         visited_on|total_amount_daily|avg_amount|day_count|
+-------------------+------------------+----------+---------+
|2019-01-07 00:00:00|               150|    122.86|        7|
|2019-01-08 00:00:00|                80|     120.0|        7|
|2019-01-09 00:00:00|               110|     120.0|        7|
|2019-01-10 00:00:00|               280|    142.86|        7|
+-------------------+------------------+----------+---------+

## Friend Requests II: Who Has the Most Friends

In [627]:
data = [[1, 2, '2016/06/03'], [1, 3, '2016/06/08'], [2, 3, '2016/06/08'], [3, 4, '2016/06/09']]
request_accepted = pd.DataFrame(data, columns=['requester_id', 'accepter_id', 'accept_date']).astype(
    {'requester_id': 'Int64', 'accepter_id': 'Int64', 'accept_date': 'datetime64[ns]'})

In [628]:
request_accepted_df = spark.createDataFrame(request_accepted)

In [629]:
request_accepted_df.show()

+------------+-----------+-------------------+
|requester_id|accepter_id|        accept_date|
+------------+-----------+-------------------+
|           1|          2|2016-06-03 00:00:00|
|           1|          3|2016-06-08 00:00:00|
|           2|          3|2016-06-08 00:00:00|
|           3|          4|2016-06-09 00:00:00|
+------------+-----------+-------------------+

In [ ]:
"""
Write a solution to find the people who have the most friends and the most friends number.

The test cases are generated so that only one person has the most friends.
"""

In [634]:
req_friends = request_accepted_df.groupBy(F.col('requester_id').alias('id')).agg(F.count_distinct('accepter_id').alias('friends'))

In [635]:
req_friends.show()

+---+-------+
| id|friends|
+---+-------+
|  1|      2|
|  3|      1|
|  2|      1|
+---+-------+

In [636]:
accept_friends = request_accepted_df.groupBy(F.col('accepter_id').alias('id')).agg(F.count_distinct('requester_id').alias('friends'))

In [637]:
accept_friends.show()

+---+-------+
| id|friends|
+---+-------+
|  3|      2|
|  2|      1|
|  4|      1|
+---+-------+

In [642]:
req_friends.unionAll(accept_friends).groupBy('id').agg(F.sum('friends').alias('num')).orderBy(F.col('num').desc()).limit(1).show()

+---+---+
| id|num|
+---+---+
|  3|  3|
+---+---+

## Investments in 2016

In [643]:
data = [[1, 10, 5, 10, 10], [2, 20, 20, 20, 20], [3, 10, 30, 20, 20], [4, 10, 40, 40, 40]]
insurance = pd.DataFrame(data, columns=['pid', 'tiv_2015', 'tiv_2016', 'lat', 'lon']).astype(
    {'pid': 'Int64', 'tiv_2015': 'Float64', 'tiv_2016': 'Float64', 'lat': 'Float64', 'lon': 'Float64'})

In [644]:
insurance_df = spark.createDataFrame(insurance)

In [645]:
insurance_df.show()

+---+--------+--------+----+----+
|pid|tiv_2015|tiv_2016| lat| lon|
+---+--------+--------+----+----+
|  1|    10.0|     5.0|10.0|10.0|
|  2|    20.0|    20.0|20.0|20.0|
|  3|    10.0|    30.0|20.0|20.0|
|  4|    10.0|    40.0|40.0|40.0|
+---+--------+--------+----+----+

In [ ]:
"""
Write a solution to report the sum of all total investment values in 2016 tiv_2016, for all policyholders who:

have the same tiv_2015 value as one or more other policyholders, 
and are not located in the same city as any other policyholder (i.e., the (lat, lon) attribute pairs must be unique). 

Round tiv_2016 to two decimal places.
"""

In [667]:
window_spec2 = Window.partitionBy(F.col('location'))
window_spec = Window.partitionBy("tiv_2015")

In [671]:
insurance_df.withColumn('location', F.concat(F.col('lat'), F.col('lon'))).withColumn('location_filter', F.count('pid').over(window_spec2)).filter(F.col('location_filter') == 1).withColumn('tiv_2015_same', F.count('pid').over(window_spec)).filter(F.col('tiv_2015_same') > 1).agg(F.sum('tiv_2016').alias('sum of all total investment values in 2016')).show()

+------------------------------------------+
|sum of all total investment values in 2016|
+------------------------------------------+
|                                      45.0|
+------------------------------------------+

## Department Top Three Salaries

In [672]:
data = [[1, 'Joe', 85000, 1], [2, 'Henry', 80000, 2], [3, 'Sam', 60000, 2], [4, 'Max', 90000, 1],
        [5, 'Janet', 69000, 1], [6, 'Randy', 85000, 1], [7, 'Will', 70000, 1]]
employee = pd.DataFrame(data, columns=['id', 'name', 'salary', 'departmentId']).astype(
    {'id': 'Int64', 'name': 'object', 'salary': 'Int64', 'departmentId': 'Int64'})
data = [[1, 'IT'], [2, 'Sales']]
department = pd.DataFrame(data, columns=['id', 'name']).astype({'id': 'Int64', 'name': 'object'})

In [673]:
employee_df = spark.createDataFrame(employee)

In [674]:
employee_df.show()

+---+-----+------+------------+
| id| name|salary|departmentId|
+---+-----+------+------------+
|  1|  Joe| 85000|           1|
|  2|Henry| 80000|           2|
|  3|  Sam| 60000|           2|
|  4|  Max| 90000|           1|
|  5|Janet| 69000|           1|
|  6|Randy| 85000|           1|
|  7| Will| 70000|           1|
+---+-----+------+------------+

In [675]:
department_df = spark.createDataFrame(department)

In [676]:
department_df.show()

+---+-----+
| id| name|
+---+-----+
|  1|   IT|
|  2|Sales|
+---+-----+

In [ ]:
"""
A company's executives are interested in seeing who earns the most money in each of the company's departments. A high earner in a department is an employee who has a salary in the top three unique salaries for that department.

Write a solution to find the employees who are high earners in each of the departments.

Return the result table in any order.
"""

In [684]:
employee_department = employee_df.join(department_df.withColumnRenamed('name', 'department'), on=employee_df['departmentId'] == department_df['id'], how='left').select([F.col('name').alias('employee'), 'salary', 'department'])

In [685]:
employee_department.show()

+--------+------+----------+
|employee|salary|department|
+--------+------+----------+
|     Joe| 85000|        IT|
|     Max| 90000|        IT|
|   Janet| 69000|        IT|
|   Randy| 85000|        IT|
|    Will| 70000|        IT|
|   Henry| 80000|     Sales|
|     Sam| 60000|     Sales|
+--------+------+----------+

In [692]:
window_spec = Window.partitionBy("department").orderBy(F.col('salary').desc())
employee_department.withColumn('department_rank', F.dense_rank().over(window_spec)).filter(F.col('department_rank') <= 3).show()

+--------+------+----------+---------------+
|employee|salary|department|department_rank|
+--------+------+----------+---------------+
|     Max| 90000|        IT|              1|
|     Joe| 85000|        IT|              2|
|   Randy| 85000|        IT|              2|
|    Will| 70000|        IT|              3|
|   Henry| 80000|     Sales|              1|
|     Sam| 60000|     Sales|              2|
+--------+------+----------+---------------+