In [1]:
import os
print("JAVA_HOME:", os.environ.get("JAVA_HOME"))

JAVA_HOME: C:\Program Files\Java\jdk-17

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("leetcode_tasks").getOrCreate()

# Select

## Recyclable and Low Fat Products

In [3]:
import pandas as pd

data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype(
    {'product_id': 'int64', 'low_fats': 'category', 'recyclable': 'category'})

In [5]:
products_df = spark.createDataFrame(products)
products_df.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- low_fats: string (nullable = true)
 |-- recyclable: string (nullable = true)

In [6]:
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

In [ ]:
"""
Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.
"""

In [7]:
products_df.filter((products_df['low_fats'] == 'Y') & (products_df['recyclable'] == 'Y')).select('product_id').show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

## Find Customer Referee

In [8]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype(
    {'id': 'Int64', 'name': 'object', 'referee_id': 'Int64'})

In [12]:
customer_df = spark.createDataFrame(customer)

In [13]:
customer_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- referee_id: double (nullable = true)

In [14]:
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|       NaN|
|  2|Jane|       NaN|
|  3|Alex|       2.0|
|  4|Bill|       NaN|
|  5|Zack|       1.0|
|  6|Mark|       2.0|
+---+----+----------+

In [ ]:
"""
Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.
"""

In [16]:
customer_df.filter(customer_df['referee_id'] != 2).select('name').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

## Big Countries

In [17]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000],
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name': 'object', 'continent': 'object', 'area': 'Int64', 'population': 'Int64', 'gdp': 'Int64'})

In [18]:
world_df = spark.createDataFrame(world)

In [20]:
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [ ]:
"""
A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or it has a population of at least twenty-five million (i.e., 25000000). Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.
"""

In [21]:
world_df.filter((world_df['area'] >= 3000000) | (world_df['population'] >= 25000000)).select(['name', 'population', 'area']).show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

## Article Views I

In [22]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [23]:
views_df = spark.createDataFrame(views)

In [24]:
views_df.show()

+----------+---------+---------+-------------------+
|article_id|author_id|viewer_id|          view_date|
+----------+---------+---------+-------------------+
|         1|        3|        5|2019-08-01 00:00:00|
|         1|        3|        6|2019-08-02 00:00:00|
|         2|        7|        7|2019-08-01 00:00:00|
|         2|        7|        6|2019-08-02 00:00:00|
|         4|        7|        1|2019-07-22 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
+----------+---------+---------+-------------------+

In [ ]:
"""
Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.
"""

In [26]:
views_df.filter(views_df['author_id'] == views_df['viewer_id']).select(views_df['author_id'].alias('id')).distinct().orderBy('author_id').show()

+---+
| id|
+---+
|  4|
|  7|
+---+

## Invalid Tweets

In [27]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [28]:
tweets_df = spark.createDataFrame(tweets)

In [29]:
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

In [ ]:
"""
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.
"""

In [33]:
import pyspark.sql.functions as F

tweets_df.filter(F.length(tweets_df['content']) > 15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# Basic Joins

## Replace Employee ID With The Unique Identifier

In [35]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})

In [37]:
employees_df = spark.createDataFrame(employees)
employees_df.show(truncate=False)

+---+--------+
|id |name    |
+---+--------+
|1  |Alice   |
|7  |Bob     |
|11 |Meir    |
|90 |Winston |
|3  |Jonathan|
+---+--------+

In [38]:
employee_uni_df = spark.createDataFrame(employee_uni)
employee_uni_df.show(truncate=False)

+---+---------+
|id |unique_id|
+---+---------+
|3  |1        |
|11 |2        |
|90 |3        |
+---+---------+

In [ ]:
"""
Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.
"""

In [39]:
employees_df.join(employee_uni_df, on=['id'], how='left').select(['name', 'unique_id']).show()

+--------+---------+
|    name|unique_id|
+--------+---------+
|     Bob|     NULL|
|   Alice|     NULL|
|Jonathan|        1|
|    Meir|        2|
| Winston|        3|
+--------+---------+

## Product Sales Analysis I

In [40]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})

In [41]:
sales_df = spark.createDataFrame(sales)
sales_df.show(truncate=False)

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|1      |100       |2008|10      |5000 |
|2      |100       |2009|12      |5000 |
|7      |200       |2011|15      |9000 |
+-------+----------+----+--------+-----+

In [42]:
product_df = spark.createDataFrame(product)
product_df.show(truncate=False)

+----------+------------+
|product_id|product_name|
+----------+------------+
|100       |Nokia       |
|200       |Apple       |
|300       |Samsung     |
+----------+------------+

In [ ]:
"""
Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

Return the resulting table in any order.
"""

In [44]:
sales_df.join(product_df, on=['product_id'], how='left').select(['product_name', 'year', 'price']).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

## Customer Who Visited but Did Not Make Any Transactions

In [45]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})
data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [46]:
visits_df = spark.createDataFrame(visits)
visits_df.show(truncate=False)

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|1       |23         |
|2       |9          |
|4       |30         |
|5       |54         |
|6       |96         |
|7       |54         |
|8       |54         |
+--------+-----------+

In [47]:
transactions_df = spark.createDataFrame(transactions)
transactions_df.show(truncate=False)

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|2             |5       |310   |
|3             |5       |300   |
|9             |5       |200   |
|12            |1       |910   |
|13            |2       |970   |
+--------------+--------+------+

In [ ]:
"""
Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.
"""

In [61]:
import pyspark.sql.functions as F

visits_df.join(transactions_df, on=['visit_id'], how='left').filter(F.col('transaction_id').isNull()).groupBy('customer_id').agg((F.count('customer_id')).alias('count_no_trans')).show()

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         54|             2|
|         96|             1|
|         30|             1|
+-----------+--------------+

## Rising Temperature

In [62]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [63]:
weather_df = spark.createDataFrame(weather)
weather_df.show(truncate=False)

+---+-------------------+-----------+
|id |recordDate         |temperature|
+---+-------------------+-----------+
|1  |2015-01-01 00:00:00|10         |
|2  |2015-01-02 00:00:00|25         |
|3  |2015-01-03 00:00:00|20         |
|4  |2015-01-04 00:00:00|30         |
+---+-------------------+-----------+

In [ ]:
"""
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.
"""

In [64]:
import pyspark.sql.functions as F
from pyspark.sql.window import Window

window_spec = Window.orderBy("recordDate")
weather_with_lag = weather_df.withColumn(
    "prev_temp",
    F.lag("temperature").over(window_spec)
)

In [66]:
weather_with_lag.show()

+---+-------------------+-----------+---------+
| id|         recordDate|temperature|prev_temp|
+---+-------------------+-----------+---------+
|  1|2015-01-01 00:00:00|         10|     NULL|
|  2|2015-01-02 00:00:00|         25|       10|
|  3|2015-01-03 00:00:00|         20|       25|
|  4|2015-01-04 00:00:00|         30|       20|
+---+-------------------+-----------+---------+

In [69]:
weather_with_lag.filter(weather_with_lag['temperature'] > weather_with_lag['prev_temp']).select('id').show()

+---+
| id|
+---+
|  2|
|  4|
+---+

## Average Time of Process per Machine

In [80]:
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55],
        [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512],
        [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype(
    {'machine_id': 'Int64', 'process_id': 'Int64', 'activity_type': 'object', 'timestamp': 'Float64'})

In [81]:
activity_df = spark.createDataFrame(activity)
activity_df.show()

+----------+----------+-------------+---------+
|machine_id|process_id|activity_type|timestamp|
+----------+----------+-------------+---------+
|         0|         0|        start|    0.712|
|         0|         0|          end|     1.52|
|         0|         1|        start|     3.14|
|         0|         1|          end|     4.12|
|         1|         0|        start|     0.55|
|         1|         0|          end|     1.55|
|         1|         1|        start|     0.43|
|         1|         1|          end|     1.42|
|         2|         0|        start|      4.1|
|         2|         0|          end|    4.512|
|         2|         1|        start|      2.5|
|         2|         1|          end|      5.0|
+----------+----------+-------------+---------+

In [ ]:
"""There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

Return the result table in any order."""

In [82]:
pivot_df = activity_df.groupBy("machine_id", "process_id") \
    .pivot("activity_type", ["start", "end"]) \
    .agg(F.first("timestamp"))

In [83]:
pivot_df.show()

+----------+----------+-----+-----+
|machine_id|process_id|start|  end|
+----------+----------+-----+-----+
|         1|         0| 0.55| 1.55|
|         1|         1| 0.43| 1.42|
|         0|         1| 3.14| 4.12|
|         2|         0|  4.1|4.512|
|         0|         0|0.712| 1.52|
|         2|         1|  2.5|  5.0|
+----------+----------+-----+-----+

In [84]:
processing_df = pivot_df.withColumn(
    "processing_time", 
    F.col("end") - F.col("start")
)

In [85]:
processing_df.show()

+----------+----------+-----+-----+------------------+
|machine_id|process_id|start|  end|   processing_time|
+----------+----------+-----+-----+------------------+
|         1|         0| 0.55| 1.55|               1.0|
|         1|         1| 0.43| 1.42|              0.99|
|         0|         1| 3.14| 4.12|              0.98|
|         2|         0|  4.1|4.512|0.4119999999999999|
|         0|         0|0.712| 1.52|             0.808|
|         2|         1|  2.5|  5.0|               2.5|
+----------+----------+-----+-----+------------------+

In [87]:
processing_df.groupBy('machine_id').agg(F.round(F.avg('processing_time'), 3).alias('processing_time_avg')).select(['machine_id', 'processing_time_avg']).show()

+----------+-------------------+
|machine_id|processing_time_avg|
+----------+-------------------+
|         0|              0.894|
|         1|              0.995|
|         2|              1.456|
+----------+-------------------+

## Employee Bonus

In [89]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype(
    {'empId': 'Int64', 'name': 'object', 'supervisor': 'Int64', 'salary': 'Int64'})
data2 = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data2, columns=['empId', 'bonus']).astype({'empId': 'Int64', 'bonus': 'Int64'})

In [96]:
from pyspark.sql.types import *

schema_employee = StructType([
    StructField("empId", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("supervisor", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

employee_df = spark.createDataFrame(data, schema_employee)
bonus_df = spark.createDataFrame(bonus)

In [97]:
employee_df.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [98]:
bonus_df.show()

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

In [ ]:
"""
Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

The result format is in the following example.
"""

In [100]:
employee_df.join(bonus_df, on='empId', how='left').filter((F.col('bonus') < 1000) | (F.col('bonus').isNull())).select(['name', 'bonus']).show()

+----+-----+
|name|bonus|
+----+-----+
|John| NULL|
|Brad| NULL|
| Dan|  500|
+----+-----+

## Students and Examinations

In [101]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype(
    {'student_id': 'Int64', 'student_name': 'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name': 'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'],
        [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype(
    {'student_id': 'Int64', 'subject_name': 'object'})

In [102]:
students_df = spark.createDataFrame(students)
subjects_df = spark.createDataFrame(subjects)
examinations_df = spark.createDataFrame(examinations)

In [ ]:
""""
Write a solution to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.
"""

In [103]:
students_df.show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
|        13|        John|
|         6|        Alex|
+----------+------------+

In [104]:
subjects_df.show()

+------------+
|subject_name|
+------------+
|        Math|
|     Physics|
| Programming|
+------------+

In [105]:
examinations_df.show()

+----------+------------+
|student_id|subject_name|
+----------+------------+
|         1|        Math|
|         1|     Physics|
|         1| Programming|
|         2| Programming|
|         1|     Physics|
|         1|        Math|
|        13|        Math|
|        13| Programming|
|        13|     Physics|
|         2|        Math|
|         1|        Math|
+----------+------------+

In [108]:
students_subjects = students_df.join(subjects_df)

In [109]:
students_subjects.show()

+----------+------------+------------+
|student_id|student_name|subject_name|
+----------+------------+------------+
|         1|       Alice|        Math|
|         1|       Alice|     Physics|
|         1|       Alice| Programming|
|         2|         Bob|        Math|
|         2|         Bob|     Physics|
|         2|         Bob| Programming|
|        13|        John|        Math|
|        13|        John|     Physics|
|        13|        John| Programming|
|         6|        Alex|        Math|
|         6|        Alex|     Physics|
|         6|        Alex| Programming|
+----------+------------+------------+

In [112]:
students_exams = students_subjects.join(examinations_df, on=['student_id', 'subject_name'])

In [115]:
students_exams.show()

+----------+------------+------------+
|student_id|subject_name|student_name|
+----------+------------+------------+
|        13| Programming|        John|
|         2| Programming|         Bob|
|         1| Programming|       Alice|
|        13|        Math|        John|
|         2|        Math|         Bob|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|        13|     Physics|        John|
|         1|     Physics|       Alice|
|         1|     Physics|       Alice|
+----------+------------+------------+

In [120]:
exams_count = students_exams.withColumn('exam_count',F.when(F.isnull('student_id'),0).otherwise(1)).groupBy(['student_id', 'subject_name', 'student_name']).agg(F.sum('exam_count').alias('attended_exams'))

In [121]:
exams_count.show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|        13| Programming|        John|             1|
|         2| Programming|         Bob|             1|
|         1| Programming|       Alice|             1|
|        13|        Math|        John|             1|
|         2|        Math|         Bob|             1|
|         1|        Math|       Alice|             3|
|        13|     Physics|        John|             1|
|         1|     Physics|       Alice|             2|
+----------+------------+------------+--------------+

In [125]:
students_subjects.join(exams_count, on=['student_id', 'subject_name', 'student_name'], how='left').na.fill(0, 'attended_exams').orderBy(['student_id', 'subject_name']).show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|         1|        Math|       Alice|             3|
|         1|     Physics|       Alice|             2|
|         1| Programming|       Alice|             1|
|         2|        Math|         Bob|             1|
|         2|     Physics|         Bob|             0|
|         2| Programming|         Bob|             1|
|         6|        Math|        Alex|             0|
|         6|     Physics|        Alex|             0|
|         6| Programming|        Alex|             0|
|        13|        Math|        John|             1|
|        13|     Physics|        John|             1|
|        13| Programming|        John|             1|
+----------+------------+------------+--------------+

## Managers with at Least 5 Direct Reports

In [126]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [127]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("managerId", IntegerType(), True)
])

employee_df = spark.createDataFrame(data,schema=schema)

In [128]:
employee_df.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     NULL|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [ ]:
"""
Write a solution to find managers with at least five direct reports.

Return the result table in any order.
"""

In [133]:
report_count = employee_df.withColumn('report_count',F.when(F.isnull('managerId'),0).otherwise(1)).groupBy(['managerId']).agg(F.sum('report_count').alias('report_count'))

In [134]:
report_count.show()

+---------+------------+
|managerId|report_count|
+---------+------------+
|      101|           5|
|     NULL|           0|
+---------+------------+

In [141]:
employee_df.join(report_count, employee_df.id == report_count.managerId, "left").filter(F.col('report_count') >= 5).select('name').show()

+----+
|name|
+----+
|John|
+----+

## Confirmation Rate

In [142]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'],
        [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'],
        [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'],
        [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]', 'action': 'object'})

In [143]:
signups_df = spark.createDataFrame(signups)
confirmations_df = spark.createDataFrame(confirmations)

In [144]:
signups_df.show()

+-------+-------------------+
|user_id|         time_stamp|
+-------+-------------------+
|      3|2020-03-21 10:16:13|
|      7|2020-01-04 13:57:59|
|      2|2020-07-29 23:09:44|
|      6|2020-12-09 10:39:37|
+-------+-------------------+

In [145]:
confirmations_df.show()

+-------+-------------------+---------+
|user_id|         time_stamp|   action|
+-------+-------------------+---------+
|      3|2021-01-06 03:30:46|  timeout|
|      3|2021-07-14 14:00:00|  timeout|
|      7|2021-06-12 11:57:29|confirmed|
|      7|2021-06-13 12:58:28|confirmed|
|      7|2021-06-14 13:59:27|confirmed|
|      2|2021-01-22 00:00:00|confirmed|
|      2|2021-02-28 23:59:59|  timeout|
+-------+-------------------+---------+

In [ ]:
"""
The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. The confirmation rate of a user that did not request any confirmation messages is 0. Round the confirmation rate to two decimal places.

Write a solution to find the confirmation rate of each user.

Return the result table in any order.
"""

In [156]:
user_confirmations = signups_df.join(confirmations_df, on='user_id', how='left').na.fill('timeout', 'action')

In [157]:
user_confirmations.show()

+-------+-------------------+-------------------+---------+
|user_id|         time_stamp|         time_stamp|   action|
+-------+-------------------+-------------------+---------+
|      7|2020-01-04 13:57:59|2021-06-14 13:59:27|confirmed|
|      7|2020-01-04 13:57:59|2021-06-13 12:58:28|confirmed|
|      7|2020-01-04 13:57:59|2021-06-12 11:57:29|confirmed|
|      6|2020-12-09 10:39:37|               NULL|  timeout|
|      3|2020-03-21 10:16:13|2021-07-14 14:00:00|  timeout|
|      3|2020-03-21 10:16:13|2021-01-06 03:30:46|  timeout|
|      2|2020-07-29 23:09:44|2021-02-28 23:59:59|  timeout|
|      2|2020-07-29 23:09:44|2021-01-22 00:00:00|confirmed|
+-------+-------------------+-------------------+---------+

In [166]:
user_confirmations_count = user_confirmations.groupBy('user_id').pivot('action', ['confirmed', 'timeout']).agg(F.count('action')).na.fill(0)

In [167]:
user_confirmations_count.show()

+-------+---------+-------+
|user_id|confirmed|timeout|
+-------+---------+-------+
|      7|        3|      0|
|      6|        0|      1|
|      3|        0|      2|
|      2|        1|      1|
+-------+---------+-------+

In [ ]:
user_confirmations_total = user_confirmations_count.withColumn('total', user_confirmations_count['confirmed'] + user_confirmations_count['timeout'])

In [171]:
user_confirmations_total.show()

+-------+---------+-------+-----+
|user_id|confirmed|timeout|total|
+-------+---------+-------+-----+
|      7|        3|      0|    3|
|      6|        0|      1|    1|
|      3|        0|      2|    2|
|      2|        1|      1|    2|
+-------+---------+-------+-----+

In [181]:
user_confirmations_total.withColumn('confirmation_rate', F.round(F.col('confirmed') / F.col('total'), 2)).select(['user_id', 'confirmation_rate']).show()

+-------+-----------------+
|user_id|confirmation_rate|
+-------+-----------------+
|      7|              1.0|
|      6|              0.0|
|      3|              0.0|
|      2|              0.5|
+-------+-----------------+

# Basic Aggregate Functions

## Not Boring Movies

In [182]:
data = [[1, 'War', 'great 3D', 8.9], [2, 'Science', 'fiction', 8.5], [3, 'irish', 'boring', 6.2],
        [4, 'Ice song', 'Fantacy', 8.6], [5, 'House card', 'Interesting', 9.1]]
cinema = pd.DataFrame(data, columns=['id', 'movie', 'description', 'rating']).astype(
    {'id': 'Int64', 'movie': 'object', 'description': 'object', 'rating': 'Float64'})

In [183]:
cinema_df = spark.createDataFrame(cinema)

In [184]:
cinema_df.show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  1|       War|   great 3D|   8.9|
|  2|   Science|    fiction|   8.5|
|  3|     irish|     boring|   6.2|
|  4|  Ice song|    Fantacy|   8.6|
|  5|House card|Interesting|   9.1|
+---+----------+-----------+------+

In [ ]:
"""
Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.
"""

In [187]:
cinema_df.filter((cinema_df['description'] != 'boring') & (F.col('id')%2 != 0)).orderBy('rating', ascending=False).show()

+---+----------+-----------+------+
| id|     movie|description|rating|
+---+----------+-----------+------+
|  5|House card|Interesting|   9.1|
|  1|       War|   great 3D|   8.9|
+---+----------+-----------+------+

## Average Selling Price

In [188]:
data = [[1, '2019-02-17', '2019-02-28', 5], [1, '2019-03-01', '2019-03-22', 20], [2, '2019-02-01', '2019-02-20', 15],
        [2, '2019-02-21', '2019-03-31', 30]]
prices = pd.DataFrame(data, columns=['product_id', 'start_date', 'end_date', 'price']).astype(
    {'product_id': 'Int64', 'start_date': 'datetime64[ns]', 'end_date': 'datetime64[ns]', 'price': 'Int64'})
data = [[1, '2019-02-25', 100], [1, '2019-03-01', 15], [2, '2019-02-10', 200], [2, '2019-03-22', 30]]
units_sold = pd.DataFrame(data, columns=['product_id', 'purchase_date', 'units']).astype(
    {'product_id': 'Int64', 'purchase_date': 'datetime64[ns]', 'units': 'Int64'})

In [189]:
prices_df = spark.createDataFrame(prices)
units_sold_df = spark.createDataFrame(units_sold)

In [190]:
prices_df.show()

+----------+-------------------+-------------------+-----+
|product_id|         start_date|           end_date|price|
+----------+-------------------+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|
+----------+-------------------+-------------------+-----+

In [191]:
units_sold_df.show()

+----------+-------------------+-----+
|product_id|      purchase_date|units|
+----------+-------------------+-----+
|         1|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|   15|
|         2|2019-02-10 00:00:00|  200|
|         2|2019-03-22 00:00:00|   30|
+----------+-------------------+-----+

In [ ]:
"""
Write a solution to find the average selling price for each product. average_price should be rounded to 2 decimal places.

Return the result table in any order
"""

In [192]:
prices_df.join(units_sold_df, on='product_id').show()

+----------+-------------------+-------------------+-----+-------------------+-----+
|product_id|         start_date|           end_date|price|      purchase_date|units|
+----------+-------------------+-------------------+-----+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-02-25 00:00:00|  100|
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-03-01 00:00:00|   15|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-03-01 00:00:00|   15|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-02-10 00:00:00|  200|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-03-22 00:00:00|   30|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-02-10 00:00:00|  200|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-03-22 00:00:00|   30|
+----------+-------------------+-------------------+-----+-------------------+-----+

In [194]:
sales = prices_df.join(units_sold_df, on='product_id').filter((F.col('purchase_date') >= F.col('start_date')) & (F.col('purchase_date') < F.col('end_date')))

In [195]:
sales.show()

+----------+-------------------+-------------------+-----+-------------------+-----+
|product_id|         start_date|           end_date|price|      purchase_date|units|
+----------+-------------------+-------------------+-----+-------------------+-----+
|         1|2019-02-17 00:00:00|2019-02-28 00:00:00|    5|2019-02-25 00:00:00|  100|
|         1|2019-03-01 00:00:00|2019-03-22 00:00:00|   20|2019-03-01 00:00:00|   15|
|         2|2019-02-01 00:00:00|2019-02-20 00:00:00|   15|2019-02-10 00:00:00|  200|
|         2|2019-02-21 00:00:00|2019-03-31 00:00:00|   30|2019-03-22 00:00:00|   30|
+----------+-------------------+-------------------+-----+-------------------+-----+

In [197]:
sales.groupBy('product_id').agg(F.round(F.sum(F.col('price') * F.col('units')) / F.sum('units'), 2).alias('average_price')).show()

+----------+-------------+
|product_id|average_price|
+----------+-------------+
|         1|         6.96|
|         2|        16.96|
+----------+-------------+

## Project Employees I

In [198]:
data = [[1, 1], [1, 2], [1, 3], [2, 1], [2, 4]]
project = pd.DataFrame(data, columns=['project_id', 'employee_id']).astype(
    {'project_id': 'Int64', 'employee_id': 'Int64'})
data = [[1, 'Khaled', 3], [2, 'Ali', 2], [3, 'John', 1], [4, 'Doe', 2]]
employee = pd.DataFrame(data, columns=['employee_id', 'name', 'experience_years']).astype(
    {'employee_id': 'Int64', 'name': 'object', 'experience_years': 'Int64'})

In [199]:
project_df = spark.createDataFrame(project)
employee_df = spark.createDataFrame(employee)

In [200]:
project_df.show()

+----------+-----------+
|project_id|employee_id|
+----------+-----------+
|         1|          1|
|         1|          2|
|         1|          3|
|         2|          1|
|         2|          4|
+----------+-----------+

In [201]:
employee_df.show()

+-----------+------+----------------+
|employee_id|  name|experience_years|
+-----------+------+----------------+
|          1|Khaled|               3|
|          2|   Ali|               2|
|          3|  John|               1|
|          4|   Doe|               2|
+-----------+------+----------------+

In [ ]:
"""Write an SQL query that reports the average experience years of all the employees for each project, rounded to 2 digits.

Return the result table in any order.
"""

In [203]:
exp = project_df.join(employee_df, on='employee_id', how='left')

In [204]:
exp.show()

+-----------+----------+------+----------------+
|employee_id|project_id|  name|experience_years|
+-----------+----------+------+----------------+
|          1|         1|Khaled|               3|
|          1|         2|Khaled|               3|
|          3|         1|  John|               1|
|          2|         1|   Ali|               2|
|          4|         2|   Doe|               2|
+-----------+----------+------+----------------+

In [208]:
exp.groupBy('project_id').agg(F.round(F.avg(F.col('experience_years')), 2).alias('average_years')).show()

+----------+-------------+
|project_id|average_years|
+----------+-------------+
|         1|          2.0|
|         2|          2.5|
+----------+-------------+

## Percentage of Users Attended a Contest

In [209]:
data = [[6, 'Alice'], [2, 'Bob'], [7, 'Alex']]
users = pd.DataFrame(data, columns=['user_id', 'user_name']).astype({'user_id': 'Int64', 'user_name': 'object'})
data = [[215, 6], [209, 2], [208, 2], [210, 6], [208, 6], [209, 7], [209, 6], [215, 7], [208, 7], [210, 2], [207, 2],
        [210, 7]]
register = pd.DataFrame(data, columns=['contest_id', 'user_id']).astype({'contest_id': 'Int64', 'user_id': 'Int64'})

In [210]:
users_df = spark.createDataFrame(users)
register_df = spark.createDataFrame(register)

In [211]:
users_df.show()

+-------+---------+
|user_id|user_name|
+-------+---------+
|      6|    Alice|
|      2|      Bob|
|      7|     Alex|
+-------+---------+

In [212]:
register_df.show()

+----------+-------+
|contest_id|user_id|
+----------+-------+
|       215|      6|
|       209|      2|
|       208|      2|
|       210|      6|
|       208|      6|
|       209|      7|
|       209|      6|
|       215|      7|
|       208|      7|
|       210|      2|
|       207|      2|
|       210|      7|
+----------+-------+

In [ ]:
"""
Write a solution to find the percentage of the users registered in each contest rounded to two decimals.

Return the result table ordered by percentage in descending order. In case of a tie, order it by contest_id in ascending order.
"""

In [215]:
register_df.orderBy('contest_id').show()

+----------+-------+
|contest_id|user_id|
+----------+-------+
|       207|      2|
|       208|      2|
|       208|      6|
|       208|      7|
|       209|      2|
|       209|      7|
|       209|      6|
|       210|      6|
|       210|      2|
|       210|      7|
|       215|      6|
|       215|      7|
+----------+-------+

In [216]:
register_df.groupBy('contest_id').agg(F.count('user_id').alias('user_count')).show()

+----------+----------+
|contest_id|user_count|
+----------+----------+
|       215|         2|
|       209|         3|
|       208|         3|
|       207|         1|
|       210|         3|
+----------+----------+

In [220]:
register_users = register_df.groupBy('contest_id').agg(F.count('user_id').alias('user_count'))

In [221]:
register_users.show()

+----------+----------+
|contest_id|user_count|
+----------+----------+
|       215|         2|
|       209|         3|
|       208|         3|
|       207|         1|
|       210|         3|
+----------+----------+

In [226]:
register_users.withColumn('total_no_users', F.lit(users_df.count())).show()

+----------+----------+--------------+
|contest_id|user_count|total_no_users|
+----------+----------+--------------+
|       215|         2|             3|
|       209|         3|             3|
|       208|         3|             3|
|       207|         1|             3|
|       210|         3|             3|
+----------+----------+--------------+

In [231]:
register_users.withColumn('total_no_users', F.lit(users_df.count())).withColumn('percentage', F.round((F.col('user_count') / F.col('total_no_users'))*100, 2)).orderBy('percentage', ascending=False).select(['contest_id', 'percentage']).show()

+----------+----------+
|contest_id|percentage|
+----------+----------+
|       209|     100.0|
|       208|     100.0|
|       210|     100.0|
|       215|     66.67|
|       207|     33.33|
+----------+----------+

## Queries Quality and Percentage

In [232]:
data = [['Dog', 'Golden Retriever', 1, 5], ['Dog', 'German Shepherd', 2, 5], ['Dog', 'Mule', 200, 1],
        ['Cat', 'Shirazi', 5, 2], ['Cat', 'Siamese', 3, 3], ['Cat', 'Sphynx', 7, 4]]
queries = pd.DataFrame(data, columns=['query_name', 'result', 'position', 'rating']).astype(
    {'query_name': 'object', 'result': 'object', 'position': 'Int64', 'rating': 'Int64'})

In [233]:
queries_df = spark.createDataFrame(queries)

In [234]:
queries_df.show()

+----------+----------------+--------+------+
|query_name|          result|position|rating|
+----------+----------------+--------+------+
|       Dog|Golden Retriever|       1|     5|
|       Dog| German Shepherd|       2|     5|
|       Dog|            Mule|     200|     1|
|       Cat|         Shirazi|       5|     2|
|       Cat|         Siamese|       3|     3|
|       Cat|          Sphynx|       7|     4|
+----------+----------------+--------+------+

In [ ]:
"""
Query with rating less than 3 is a poor query.

We define query quality as:

The average of the ratio between query rating and its position.

We also define poor query percentage as:

The percentage of all queries with rating less than 3.

Write a solution to find each query_name, the quality and poor_query_percentage.

Both quality and poor_query_percentage should be rounded to 2 decimal places.

Return the result table in any order.
"""

In [ ]:
queries_df.groupBy('query_name').agg(F.round(F.avg(F.col('rating')/F.col('position')), 2).alias('quality')).show()

+----------+-------+
|query_name|quality|
+----------+-------+
|       Cat|   0.66|
|       Dog|    2.5|
+----------+-------+

In [243]:
queries_df.groupBy('query_name').agg(F.round(F.avg(F.col('rating')/F.col('position')), 2).alias('quality'), F.round(F.avg(F.when(F.col('rating') < 3, 1).otherwise(0)) * 100, 2).alias('poor_query_percentage')).show()

+----------+-------+---------------------+
|query_name|quality|poor_query_percentage|
+----------+-------+---------------------+
|       Cat|   0.66|                33.33|
|       Dog|    2.5|                33.33|
+----------+-------+---------------------+

## Monthly Transactions I

In [244]:
data = [[121, 'US', 'approved', 1000, '2018-12-18'], [122, 'US', 'declined', 2000, '2018-12-19'],
        [123, 'US', 'approved', 2000, '2019-01-01'], [124, 'DE', 'approved', 2000, '2019-01-07']]
transactions = pd.DataFrame(data, columns=['id', 'country', 'state', 'amount', 'trans_date']).astype(
    {'id': 'Int64', 'country': 'object', 'state': 'object', 'amount': 'Int64', 'trans_date': 'datetime64[ns]'})

In [245]:
transactions_df = spark.createDataFrame(transactions)

In [246]:
transactions_df.show()

+---+-------+--------+------+-------------------+
| id|country|   state|amount|         trans_date|
+---+-------+--------+------+-------------------+
|121|     US|approved|  1000|2018-12-18 00:00:00|
|122|     US|declined|  2000|2018-12-19 00:00:00|
|123|     US|approved|  2000|2019-01-01 00:00:00|
|124|     DE|approved|  2000|2019-01-07 00:00:00|
+---+-------+--------+------+-------------------+

In [ ]:
"""
Write an SQL query to find for each month and country, the number of transactions and their total amount, the number of approved transactions and their total amount.

Return the result table in any order.
"""

In [248]:
transaction_month = transactions_df.withColumn('month', F.substring(F.col('trans_date'), 1, 7))

In [249]:
transaction_month.show()

+---+-------+--------+------+-------------------+-------+
| id|country|   state|amount|         trans_date|  month|
+---+-------+--------+------+-------------------+-------+
|121|     US|approved|  1000|2018-12-18 00:00:00|2018-12|
|122|     US|declined|  2000|2018-12-19 00:00:00|2018-12|
|123|     US|approved|  2000|2019-01-01 00:00:00|2019-01|
|124|     DE|approved|  2000|2019-01-07 00:00:00|2019-01|
+---+-------+--------+------+-------------------+-------+

In [257]:
transaction_month.groupBy(['month', 'country']).agg(F.count(F.col('id')), F.count(F.when(F.col('state') =='approved', 1)), F.sum(F.col('amount')), F.sum(F.when(F.col('state') =='approved', F.col('amount')))).show()

+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+
|  month|country|count(id)|count(CASE WHEN (state = approved) THEN 1 END)|sum(amount)|sum(CASE WHEN (state = approved) THEN amount END)|
+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+
|2019-01|     US|        1|                                             1|       2000|                                             2000|
|2019-01|     DE|        1|                                             1|       2000|                                             2000|
|2018-12|     US|        2|                                             1|       3000|                                             1000|
+-------+-------+---------+----------------------------------------------+-----------+-------------------------------------------------+

## Immediate Food Delivery II

In [258]:
data = [[1, 1, '2019-08-01', '2019-08-02'], [2, 2, '2019-08-02', '2019-08-02'], [3, 1, '2019-08-11', '2019-08-12'],
        [4, 3, '2019-08-24', '2019-08-24'], [5, 3, '2019-08-21', '2019-08-22'], [6, 2, '2019-08-11', '2019-08-13'],
        [7, 4, '2019-08-09', '2019-08-09']]
delivery = pd.DataFrame(data,
                        columns=['delivery_id', 'customer_id', 'order_date', 'customer_pref_delivery_date']).astype(
    {'delivery_id': 'Int64', 'customer_id': 'Int64', 'order_date': 'datetime64[ns]',
     'customer_pref_delivery_date': 'datetime64[ns]'})

In [259]:
delivery_df = spark.createDataFrame(delivery)

In [260]:
delivery_df.show()

+-----------+-----------+-------------------+---------------------------+
|delivery_id|customer_id|         order_date|customer_pref_delivery_date|
+-----------+-----------+-------------------+---------------------------+
|          1|          1|2019-08-01 00:00:00|        2019-08-02 00:00:00|
|          2|          2|2019-08-02 00:00:00|        2019-08-02 00:00:00|
|          3|          1|2019-08-11 00:00:00|        2019-08-12 00:00:00|
|          4|          3|2019-08-24 00:00:00|        2019-08-24 00:00:00|
|          5|          3|2019-08-21 00:00:00|        2019-08-22 00:00:00|
|          6|          2|2019-08-11 00:00:00|        2019-08-13 00:00:00|
|          7|          4|2019-08-09 00:00:00|        2019-08-09 00:00:00|
+-----------+-----------+-------------------+---------------------------+

In [ ]:
"""
If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.

The first order of a customer is the order with the earliest order date that the customer made. It is guaranteed that a customer has precisely one first order.

Write a solution to find the percentage of immediate orders in the first orders of all customers, rounded to 2 decimal places.
"""

In [268]:
window_spec = Window.partitionBy("customer_id").orderBy("order_date")
delivery_ranked = delivery_df.withColumn("row_num", F.row_number().over(window_spec))

delivery_ranked_filtered = delivery_ranked.withColumn('order_status', F.when(F.col('order_date') == F.col('customer_pref_delivery_date'), 'immediate').otherwise('scheduled')).orderBy(['customer_id', 'order_date']).filter(F.col('row_num') == 1)

In [269]:
delivery_ranked_filtered.show()

+-----------+-----------+-------------------+---------------------------+-------+------------+
|delivery_id|customer_id|         order_date|customer_pref_delivery_date|row_num|order_status|
+-----------+-----------+-------------------+---------------------------+-------+------------+
|          1|          1|2019-08-01 00:00:00|        2019-08-02 00:00:00|      1|   scheduled|
|          2|          2|2019-08-02 00:00:00|        2019-08-02 00:00:00|      1|   immediate|
|          5|          3|2019-08-21 00:00:00|        2019-08-22 00:00:00|      1|   scheduled|
|          7|          4|2019-08-09 00:00:00|        2019-08-09 00:00:00|      1|   immediate|
+-----------+-----------+-------------------+---------------------------+-------+------------+

In [273]:
delivery_ranked_filtered.agg(F.round(F.avg(F.when(F.col('order_status') == 'scheduled', 1).otherwise(0))*100, 2)).show()

+-----------------------------------------------------------------------------+
|round((avg(CASE WHEN (order_status = scheduled) THEN 1 ELSE 0 END) * 100), 2)|
+-----------------------------------------------------------------------------+
|                                                                         50.0|
+-----------------------------------------------------------------------------+

## Game Play Analysis IV

In [274]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-03-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0],
        [3, 4, '2018-07-03', 5]]
activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype(
    {'player_id': 'Int64', 'device_id': 'Int64', 'event_date': 'datetime64[ns]', 'games_played': 'Int64'})

In [275]:
activity_df = spark.createDataFrame(activity)

In [276]:
activity_df.show()

+---------+---------+-------------------+------------+
|player_id|device_id|         event_date|games_played|
+---------+---------+-------------------+------------+
|        1|        2|2016-03-01 00:00:00|           5|
|        1|        2|2016-03-02 00:00:00|           6|
|        2|        3|2017-06-25 00:00:00|           1|
|        3|        1|2016-03-02 00:00:00|           0|
|        3|        4|2018-07-03 00:00:00|           5|
+---------+---------+-------------------+------------+

In [ ]:
"""
Write a solution to report the fraction of players that logged in again on the day after the day they first logged in, rounded to 2 decimal places. 
In other words, you need to count the number of players that logged in for at least two consecutive days starting from their first login date, then divide that number by the total number of players.
"""

In [277]:
window_spec = Window.partitionBy("player_id").orderBy("event_date")
player_log = activity_df.withColumn("row_num", F.row_number().over(window_spec))

In [278]:
player_log.show()

+---------+---------+-------------------+------------+-------+
|player_id|device_id|         event_date|games_played|row_num|
+---------+---------+-------------------+------------+-------+
|        1|        2|2016-03-01 00:00:00|           5|      1|
|        1|        2|2016-03-02 00:00:00|           6|      2|
|        2|        3|2017-06-25 00:00:00|           1|      1|
|        3|        1|2016-03-02 00:00:00|           0|      1|
|        3|        4|2018-07-03 00:00:00|           5|      2|
+---------+---------+-------------------+------------+-------+

In [ ]:
total_players = player_log.agg(F.countDistinct(F.col('player_id'))).show()

+-------------------------+
|count(DISTINCT player_id)|
+-------------------------+
|                        3|
+-------------------------+

In [282]:
loyal_players = player_log.filter(player_log['row_num'] == 2).agg(F.countDistinct(F.col('player_id'))).show()

+-------------------------+
|count(DISTINCT player_id)|
+-------------------------+
|                        2|
+-------------------------+

In [290]:
first_login_df = activity_df.groupBy("player_id").agg(F.min("event_date").alias("first_login_date"))

In [291]:
first_login_df.show()

+---------+-------------------+
|player_id|   first_login_date|
+---------+-------------------+
|        1|2016-03-01 00:00:00|
|        3|2016-03-02 00:00:00|
|        2|2017-06-25 00:00:00|
+---------+-------------------+

In [292]:
joined_df = activity_df.join(first_login_df, on="player_id")

In [293]:
joined_df.show()

+---------+---------+-------------------+------------+-------------------+
|player_id|device_id|         event_date|games_played|   first_login_date|
+---------+---------+-------------------+------------+-------------------+
|        1|        2|2016-03-01 00:00:00|           5|2016-03-01 00:00:00|
|        1|        2|2016-03-02 00:00:00|           6|2016-03-01 00:00:00|
|        3|        1|2016-03-02 00:00:00|           0|2016-03-02 00:00:00|
|        3|        4|2018-07-03 00:00:00|           5|2016-03-02 00:00:00|
|        2|        3|2017-06-25 00:00:00|           1|2017-06-25 00:00:00|
+---------+---------+-------------------+------------+-------------------+

In [304]:
relogin_df = joined_df.withColumn("day_after_first_login", F.date_add(F.col("first_login_date"), 1)).filter(F.col("event_date") == F.col("day_after_first_login")).select("player_id").distinct().count()

In [301]:
players_no = joined_df.select('player_id').distinct().count()

In [ ]:
fraction = round(relogin_df / total_players, 2)

In [306]:
fraction

0.33

# Sorting and Grouping

## Number of Unique Subjects Taught by Each Teacher

In [307]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype(
    {'teacher_id': 'Int64', 'subject_id': 'Int64', 'dept_id': 'Int64'})

In [308]:
teacher_df = spark.createDataFrame(teacher)

In [309]:
teacher_df.show()

+----------+----------+-------+
|teacher_id|subject_id|dept_id|
+----------+----------+-------+
|         1|         2|      3|
|         1|         2|      4|
|         1|         3|      3|
|         2|         1|      1|
|         2|         2|      1|
|         2|         3|      1|
|         2|         4|      1|
+----------+----------+-------+

In [ ]:
"""
Write a solution to calculate the number of unique subjects each teacher teaches in the university.

Return the result table in any order.
"""

In [312]:
teacher_df.groupBy('teacher_id').agg(F.count_distinct('subject_id').alias('count')).show()

+----------+-----+
|teacher_id|count|
+----------+-----+
|         1|    2|
|         2|    4|
+----------+-----+

## User Activity for the Past 30 Days I

In [313]:
data = [[1, 1, '2019-07-20', 'open_session'], [1, 1, '2019-07-20', 'scroll_down'], [1, 1, '2019-07-20', 'end_session'],
        [2, 4, '2019-07-20', 'open_session'], [2, 4, '2019-07-21', 'send_message'], [2, 4, '2019-07-21', 'end_session'],
        [3, 2, '2019-07-21', 'open_session'], [3, 2, '2019-07-21', 'send_message'], [3, 2, '2019-07-21', 'end_session'],
        [4, 3, '2019-06-25', 'open_session'], [4, 3, '2019-06-25', 'end_session']]
activity = pd.DataFrame(data, columns=['user_id', 'session_id', 'activity_date', 'activity_type']).astype(
    {'user_id': 'Int64', 'session_id': 'Int64', 'activity_date': 'datetime64[ns]', 'activity_type': 'object'})

In [314]:
activity_df = spark.createDataFrame(activity)

In [315]:
activity_df.show()

+-------+----------+-------------------+-------------+
|user_id|session_id|      activity_date|activity_type|
+-------+----------+-------------------+-------------+
|      1|         1|2019-07-20 00:00:00| open_session|
|      1|         1|2019-07-20 00:00:00|  scroll_down|
|      1|         1|2019-07-20 00:00:00|  end_session|
|      2|         4|2019-07-20 00:00:00| open_session|
|      2|         4|2019-07-21 00:00:00| send_message|
|      2|         4|2019-07-21 00:00:00|  end_session|
|      3|         2|2019-07-21 00:00:00| open_session|
|      3|         2|2019-07-21 00:00:00| send_message|
|      3|         2|2019-07-21 00:00:00|  end_session|
|      4|         3|2019-06-25 00:00:00| open_session|
|      4|         3|2019-06-25 00:00:00|  end_session|
+-------+----------+-------------------+-------------+

In [ ]:
"""
Write a solution to find the daily active user count for a period of 30 days ending 2019-07-27 inclusively. A user was active on someday if they made at least one activity on that day.

Return the result table in any order.
"""

In [321]:
activity_df.withColumn('end_date', F.lit('2019-07-27').cast("timestamp")).withColumn('start_date', F.date_add(F.col('end_date'), -30)).filter((F.col('activity_date') >= F.col('start_date')) & (F.col('activity_date') <= F.col('end_date'))).groupBy('activity_date').agg(F.count_distinct('user_id')).show()

+-------------------+-----------------------+
|      activity_date|count(DISTINCT user_id)|
+-------------------+-----------------------+
|2019-07-21 00:00:00|                      2|
|2019-07-20 00:00:00|                      2|
+-------------------+-----------------------+

## Product Sales Analysis III

In [322]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype(
    {'sale_id': 'Int64', 'product_id': 'Int64', 'year': 'Int64', 'quantity': 'Int64', 'price': 'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype(
    {'product_id': 'Int64', 'product_name': 'object'})

In [323]:
sales_df = spark.createDataFrame(sales)

In [324]:
sales_df.show()

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|      1|       100|2008|      10| 5000|
|      2|       100|2009|      12| 5000|
|      7|       200|2011|      15| 9000|
+-------+----------+----+--------+-----+

In [325]:
product_df = spark.createDataFrame(product)

In [326]:
product_df.show()

+----------+------------+
|product_id|product_name|
+----------+------------+
|       100|       Nokia|
|       200|       Apple|
|       300|     Samsung|
+----------+------------+

In [ ]:
"""
Write a solution to select the product id, year, quantity, and price for the first year of every product sold.

Return the resulting table in any order.
"""

In [329]:
sales_first_year = sales_df.groupBy("product_id").agg(F.min("year").alias("first_year"))

In [333]:
sales_df.join(sales_first_year, on='product_id', how='left').filter(F.col('year') == F.col('first_year')).select(['product_id', 'year', 'quantity', 'price']).show()

+----------+----+--------+-----+
|product_id|year|quantity|price|
+----------+----+--------+-----+
|       100|2008|      10| 5000|
|       200|2011|      15| 9000|
+----------+----+--------+-----+

## Classes More Than 5 Students

In [334]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'],
        ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student': 'object', 'class': 'object'})

In [335]:
courses_df = spark.createDataFrame(courses)

In [336]:
courses_df.show()

+-------+--------+
|student|   class|
+-------+--------+
|      A|    Math|
|      B| English|
|      C|    Math|
|      D| Biology|
|      E|    Math|
|      F|Computer|
|      G|    Math|
|      H|    Math|
|      I|    Math|
+-------+--------+

In [ ]:
"""
Write a solution to find all the classes that have at least five students.

Return the result table in any order.
"""

In [339]:
courses_df.groupBy('class').agg(F.count_distinct(F.col('student')).alias('number_of_students')).filter(F.col('number_of_students') > 5).select('class').show()

+-----+
|class|
+-----+
| Math|
+-----+

## Find Followers Count

In [340]:
data = [['0', '1'], ['1', '0'], ['2', '0'], ['2', '1']]
followers = pd.DataFrame(data, columns=['user_id', 'follower_id']).astype({'user_id': 'Int64', 'follower_id': 'Int64'})

In [341]:
followers_df = spark.createDataFrame(followers)

In [342]:
followers_df.show()

+-------+-----------+
|user_id|follower_id|
+-------+-----------+
|      0|          1|
|      1|          0|
|      2|          0|
|      2|          1|
+-------+-----------+

In [ ]:
"""
Write a solution that will, for each user, return the number of followers.

Return the result table ordered by user_id in ascending order.
"""

In [345]:
followers_df.groupBy('user_id').agg(F.count_distinct(F.col('follower_id')).alias('no_followers')).orderBy(F.col('no_followers')).show()

+-------+------------+
|user_id|no_followers|
+-------+------------+
|      0|           1|
|      1|           1|
|      2|           2|
+-------+------------+

## Biggest Single Number

In [346]:
data = [[8], [8], [3], [3], [1], [4], [5], [6]]  # first example
#data = [[8], [8], [7], [7], [3], [3], [3]] # second example
my_numbers = pd.DataFrame(data, columns=['num']).astype({'num': 'Int64'})

In [347]:
my_numbers_df = spark.createDataFrame(my_numbers)

In [348]:
my_numbers_df.show()

+---+
|num|
+---+
|  8|
|  8|
|  3|
|  3|
|  1|
|  4|
|  5|
|  6|
+---+

In [ ]:
"""
A single number is a number that appeared only once in the MyNumbers table.

Find the largest single number. If there is no single number, report null.
"""

In [352]:
my_numbers_df.groupBy('num').agg(F.count(F.col('num')).alias('count')).filter(F.col('count') == 1).agg(F.max(F.col('num')).alias('max')).show()

+---+
|max|
+---+
|  6|
+---+

## Customers Who Bought All Products

In [353]:
data = [[1, 5], [2, 6], [3, 5], [3, 6], [1, 6]]
customer = pd.DataFrame(data, columns=['customer_id', 'product_key']).astype(
    {'customer_id': 'Int64', 'product_key': 'Int64'})
data = [[5], [6]]
product = pd.DataFrame(data, columns=['product_key']).astype({'product_key': 'Int64'})

In [354]:
customer_df = spark.createDataFrame(customer)

In [355]:
customer_df.show()

+-----------+-----------+
|customer_id|product_key|
+-----------+-----------+
|          1|          5|
|          2|          6|
|          3|          5|
|          3|          6|
|          1|          6|
+-----------+-----------+

In [356]:
product_df = spark.createDataFrame(product)

In [357]:
product_df.show()

+-----------+
|product_key|
+-----------+
|          5|
|          6|
+-----------+

In [ ]:
"""
Write a solution to report the customer ids from the Customer table that bought all the products in the Product table.

Return the result table in any order.
"""

In [367]:
number_of_products = product_df.agg(F.count('product_key')).first()[0]

In [369]:
number_of_products

2

In [370]:
customer_df.groupBy('customer_id').agg(F.count_distinct(F.col('product_key')).alias('no_products_bought')).filter(F.col('no_products_bought') == number_of_products).show()

+-----------+------------------+
|customer_id|no_products_bought|
+-----------+------------------+
|          1|                 2|
|          3|                 2|
+-----------+------------------+