In [1]:
import os
print("JAVA_HOME:", os.environ.get("JAVA_HOME"))

JAVA_HOME: C:\Program Files\Java\jdk-17

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("leetcode_tasks").getOrCreate()

# Select

## Recyclable and Low Fat Products

In [3]:
import pandas as pd

data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype(
    {'product_id': 'int64', 'low_fats': 'category', 'recyclable': 'category'})

In [5]:
products_df = spark.createDataFrame(products)
products_df.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- low_fats: string (nullable = true)
 |-- recyclable: string (nullable = true)

In [6]:
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

In [ ]:
"""
Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.
"""

In [7]:
products_df.filter((products_df['low_fats'] == 'Y') & (products_df['recyclable'] == 'Y')).select('product_id').show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

## Find Customer Referee

In [8]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype(
    {'id': 'Int64', 'name': 'object', 'referee_id': 'Int64'})

In [12]:
customer_df = spark.createDataFrame(customer)

In [13]:
customer_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- referee_id: double (nullable = true)

In [14]:
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|       NaN|
|  2|Jane|       NaN|
|  3|Alex|       2.0|
|  4|Bill|       NaN|
|  5|Zack|       1.0|
|  6|Mark|       2.0|
+---+----+----------+

In [ ]:
"""
Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.
"""

In [16]:
customer_df.filter(customer_df['referee_id'] != 2).select('name').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

## Big Countries

In [17]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000],
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name': 'object', 'continent': 'object', 'area': 'Int64', 'population': 'Int64', 'gdp': 'Int64'})

In [18]:
world_df = spark.createDataFrame(world)

In [20]:
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [ ]:
"""
A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or it has a population of at least twenty-five million (i.e., 25000000). Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.
"""

In [21]:
world_df.filter((world_df['area'] >= 3000000) | (world_df['population'] >= 25000000)).select(['name', 'population', 'area']).show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

## Article Views I

In [22]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [23]:
views_df = spark.createDataFrame(views)

In [24]:
views_df.show()

+----------+---------+---------+-------------------+
|article_id|author_id|viewer_id|          view_date|
+----------+---------+---------+-------------------+
|         1|        3|        5|2019-08-01 00:00:00|
|         1|        3|        6|2019-08-02 00:00:00|
|         2|        7|        7|2019-08-01 00:00:00|
|         2|        7|        6|2019-08-02 00:00:00|
|         4|        7|        1|2019-07-22 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
+----------+---------+---------+-------------------+

In [ ]:
"""
Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.
"""

In [26]:
views_df.filter(views_df['author_id'] == views_df['viewer_id']).select(views_df['author_id'].alias('id')).distinct().orderBy('author_id').show()

+---+
| id|
+---+
|  4|
|  7|
+---+

## Invalid Tweets

In [27]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [28]:
tweets_df = spark.createDataFrame(tweets)

In [29]:
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

In [ ]:
"""
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.
"""

In [33]:
import pyspark.sql.functions as F

tweets_df.filter(F.length(tweets_df['content']) > 15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# Basic Joins

## Replace Employee ID With The Unique Identifier

In [35]:
data = [[1, 'Alice'], [7, 'Bob'], [11, 'Meir'], [90, 'Winston'], [3, 'Jonathan']]
employees = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'int64', 'name':'object'})
data = [[3, 1], [11, 2], [90, 3]]
employee_uni = pd.DataFrame(data, columns=['id', 'unique_id']).astype({'id':'int64', 'unique_id':'int64'})

In [37]:
employees_df = spark.createDataFrame(employees)
employees_df.show(truncate=False)

+---+--------+
|id |name    |
+---+--------+
|1  |Alice   |
|7  |Bob     |
|11 |Meir    |
|90 |Winston |
|3  |Jonathan|
+---+--------+

In [38]:
employee_uni_df = spark.createDataFrame(employee_uni)
employee_uni_df.show(truncate=False)

+---+---------+
|id |unique_id|
+---+---------+
|3  |1        |
|11 |2        |
|90 |3        |
+---+---------+

In [ ]:
"""
Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.
"""

In [39]:
employees_df.join(employee_uni_df, on=['id'], how='left').select(['name', 'unique_id']).show()

+--------+---------+
|    name|unique_id|
+--------+---------+
|     Bob|     NULL|
|   Alice|     NULL|
|Jonathan|        1|
|    Meir|        2|
| Winston|        3|
+--------+---------+

## Product Sales Analysis I

In [40]:
data = [[1, 100, 2008, 10, 5000], [2, 100, 2009, 12, 5000], [7, 200, 2011, 15, 9000]]
sales = pd.DataFrame(data, columns=['sale_id', 'product_id', 'year', 'quantity', 'price']).astype({'sale_id':'Int64', 'product_id':'Int64', 'year':'Int64', 'quantity':'Int64', 'price':'Int64'})
data = [[100, 'Nokia'], [200, 'Apple'], [300, 'Samsung']]
product = pd.DataFrame(data, columns=['product_id', 'product_name']).astype({'product_id':'Int64', 'product_name':'object'})

In [41]:
sales_df = spark.createDataFrame(sales)
sales_df.show(truncate=False)

+-------+----------+----+--------+-----+
|sale_id|product_id|year|quantity|price|
+-------+----------+----+--------+-----+
|1      |100       |2008|10      |5000 |
|2      |100       |2009|12      |5000 |
|7      |200       |2011|15      |9000 |
+-------+----------+----+--------+-----+

In [42]:
product_df = spark.createDataFrame(product)
product_df.show(truncate=False)

+----------+------------+
|product_id|product_name|
+----------+------------+
|100       |Nokia       |
|200       |Apple       |
|300       |Samsung     |
+----------+------------+

In [ ]:
"""
Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

Return the resulting table in any order.
"""

In [44]:
sales_df.join(product_df, on=['product_id'], how='left').select(['product_name', 'year', 'price']).show()

+------------+----+-----+
|product_name|year|price|
+------------+----+-----+
|       Nokia|2008| 5000|
|       Nokia|2009| 5000|
|       Apple|2011| 9000|
+------------+----+-----+

## Customer Who Visited but Did Not Make Any Transactions

In [45]:
data = [[1, 23], [2, 9], [4, 30], [5, 54], [6, 96], [7, 54], [8, 54]]
visits = pd.DataFrame(data, columns=['visit_id', 'customer_id']).astype({'visit_id':'Int64', 'customer_id':'Int64'})
data = [[2, 5, 310], [3, 5, 300], [9, 5, 200], [12, 1, 910], [13, 2, 970]]
transactions = pd.DataFrame(data, columns=['transaction_id', 'visit_id', 'amount']).astype({'transaction_id':'Int64', 'visit_id':'Int64', 'amount':'Int64'})

In [46]:
visits_df = spark.createDataFrame(visits)
visits_df.show(truncate=False)

+--------+-----------+
|visit_id|customer_id|
+--------+-----------+
|1       |23         |
|2       |9          |
|4       |30         |
|5       |54         |
|6       |96         |
|7       |54         |
|8       |54         |
+--------+-----------+

In [47]:
transactions_df = spark.createDataFrame(transactions)
transactions_df.show(truncate=False)

+--------------+--------+------+
|transaction_id|visit_id|amount|
+--------------+--------+------+
|2             |5       |310   |
|3             |5       |300   |
|9             |5       |200   |
|12            |1       |910   |
|13            |2       |970   |
+--------------+--------+------+

In [ ]:
"""
Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.
"""

In [61]:
import pyspark.sql.functions as F

visits_df.join(transactions_df, on=['visit_id'], how='left').filter(F.col('transaction_id').isNull()).groupBy('customer_id').agg((F.count('customer_id')).alias('count_no_trans')).show()

+-----------+--------------+
|customer_id|count_no_trans|
+-----------+--------------+
|         54|             2|
|         96|             1|
|         30|             1|
+-----------+--------------+

## Rising Temperature

In [62]:
data = [[1, '2015-01-01', 10], [2, '2015-01-02', 25], [3, '2015-01-03', 20], [4, '2015-01-04', 30]]
weather = pd.DataFrame(data, columns=['id', 'recordDate', 'temperature']).astype({'id':'Int64', 'recordDate':'datetime64[ns]', 'temperature':'Int64'})

In [63]:
weather_df = spark.createDataFrame(weather)
weather_df.show(truncate=False)

+---+-------------------+-----------+
|id |recordDate         |temperature|
+---+-------------------+-----------+
|1  |2015-01-01 00:00:00|10         |
|2  |2015-01-02 00:00:00|25         |
|3  |2015-01-03 00:00:00|20         |
|4  |2015-01-04 00:00:00|30         |
+---+-------------------+-----------+

In [ ]:
"""
Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.
"""

In [64]:
import pyspark.sql.functions as F
from pyspark.sql.window import Window

window_spec = Window.orderBy("recordDate")
weather_with_lag = weather_df.withColumn(
    "prev_temp",
    F.lag("temperature").over(window_spec)
)

In [66]:
weather_with_lag.show()

+---+-------------------+-----------+---------+
| id|         recordDate|temperature|prev_temp|
+---+-------------------+-----------+---------+
|  1|2015-01-01 00:00:00|         10|     NULL|
|  2|2015-01-02 00:00:00|         25|       10|
|  3|2015-01-03 00:00:00|         20|       25|
|  4|2015-01-04 00:00:00|         30|       20|
+---+-------------------+-----------+---------+

In [69]:
weather_with_lag.filter(weather_with_lag['temperature'] > weather_with_lag['prev_temp']).select('id').show()

+---+
| id|
+---+
|  2|
|  4|
+---+

## Average Time of Process per Machine

In [80]:
data = [[0, 0, 'start', 0.712], [0, 0, 'end', 1.52], [0, 1, 'start', 3.14], [0, 1, 'end', 4.12], [1, 0, 'start', 0.55],
        [1, 0, 'end', 1.55], [1, 1, 'start', 0.43], [1, 1, 'end', 1.42], [2, 0, 'start', 4.1], [2, 0, 'end', 4.512],
        [2, 1, 'start', 2.5], [2, 1, 'end', 5]]
activity = pd.DataFrame(data, columns=['machine_id', 'process_id', 'activity_type', 'timestamp']).astype(
    {'machine_id': 'Int64', 'process_id': 'Int64', 'activity_type': 'object', 'timestamp': 'Float64'})

In [81]:
activity_df = spark.createDataFrame(activity)
activity_df.show()

+----------+----------+-------------+---------+
|machine_id|process_id|activity_type|timestamp|
+----------+----------+-------------+---------+
|         0|         0|        start|    0.712|
|         0|         0|          end|     1.52|
|         0|         1|        start|     3.14|
|         0|         1|          end|     4.12|
|         1|         0|        start|     0.55|
|         1|         0|          end|     1.55|
|         1|         1|        start|     0.43|
|         1|         1|          end|     1.42|
|         2|         0|        start|      4.1|
|         2|         0|          end|    4.512|
|         2|         1|        start|      2.5|
|         2|         1|          end|      5.0|
+----------+----------+-------------+---------+

In [ ]:
"""There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

Return the result table in any order."""

In [82]:
pivot_df = activity_df.groupBy("machine_id", "process_id") \
    .pivot("activity_type", ["start", "end"]) \
    .agg(F.first("timestamp"))

In [83]:
pivot_df.show()

+----------+----------+-----+-----+
|machine_id|process_id|start|  end|
+----------+----------+-----+-----+
|         1|         0| 0.55| 1.55|
|         1|         1| 0.43| 1.42|
|         0|         1| 3.14| 4.12|
|         2|         0|  4.1|4.512|
|         0|         0|0.712| 1.52|
|         2|         1|  2.5|  5.0|
+----------+----------+-----+-----+

In [84]:
processing_df = pivot_df.withColumn(
    "processing_time", 
    F.col("end") - F.col("start")
)

In [85]:
processing_df.show()

+----------+----------+-----+-----+------------------+
|machine_id|process_id|start|  end|   processing_time|
+----------+----------+-----+-----+------------------+
|         1|         0| 0.55| 1.55|               1.0|
|         1|         1| 0.43| 1.42|              0.99|
|         0|         1| 3.14| 4.12|              0.98|
|         2|         0|  4.1|4.512|0.4119999999999999|
|         0|         0|0.712| 1.52|             0.808|
|         2|         1|  2.5|  5.0|               2.5|
+----------+----------+-----+-----+------------------+

In [87]:
processing_df.groupBy('machine_id').agg(F.round(F.avg('processing_time'), 3).alias('processing_time_avg')).select(['machine_id', 'processing_time_avg']).show()

+----------+-------------------+
|machine_id|processing_time_avg|
+----------+-------------------+
|         0|              0.894|
|         1|              0.995|
|         2|              1.456|
+----------+-------------------+

## Employee Bonus

In [89]:
data = [[3, 'Brad', None, 4000], [1, 'John', 3, 1000], [2, 'Dan', 3, 2000], [4, 'Thomas', 3, 4000]]
employee = pd.DataFrame(data, columns=['empId', 'name', 'supervisor', 'salary']).astype(
    {'empId': 'Int64', 'name': 'object', 'supervisor': 'Int64', 'salary': 'Int64'})
data2 = [[2, 500], [4, 2000]]
bonus = pd.DataFrame(data2, columns=['empId', 'bonus']).astype({'empId': 'Int64', 'bonus': 'Int64'})

In [96]:
from pyspark.sql.types import *

schema_employee = StructType([
    StructField("empId", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("supervisor", IntegerType(), True),
    StructField("salary", IntegerType(), True)
])

employee_df = spark.createDataFrame(data, schema_employee)
bonus_df = spark.createDataFrame(bonus)

In [97]:
employee_df.show()

+-----+------+----------+------+
|empId|  name|supervisor|salary|
+-----+------+----------+------+
|    3|  Brad|      NULL|  4000|
|    1|  John|         3|  1000|
|    2|   Dan|         3|  2000|
|    4|Thomas|         3|  4000|
+-----+------+----------+------+

In [98]:
bonus_df.show()

+-----+-----+
|empId|bonus|
+-----+-----+
|    2|  500|
|    4| 2000|
+-----+-----+

In [ ]:
"""
Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

The result format is in the following example.
"""

In [100]:
employee_df.join(bonus_df, on='empId', how='left').filter((F.col('bonus') < 1000) | (F.col('bonus').isNull())).select(['name', 'bonus']).show()

+----+-----+
|name|bonus|
+----+-----+
|John| NULL|
|Brad| NULL|
| Dan|  500|
+----+-----+

## Students and Examinations

In [101]:
data = [[1, 'Alice'], [2, 'Bob'], [13, 'John'], [6, 'Alex']]
students = pd.DataFrame(data, columns=['student_id', 'student_name']).astype(
    {'student_id': 'Int64', 'student_name': 'object'})
data = [['Math'], ['Physics'], ['Programming']]
subjects = pd.DataFrame(data, columns=['subject_name']).astype({'subject_name': 'object'})
data = [[1, 'Math'], [1, 'Physics'], [1, 'Programming'], [2, 'Programming'], [1, 'Physics'], [1, 'Math'], [13, 'Math'],
        [13, 'Programming'], [13, 'Physics'], [2, 'Math'], [1, 'Math']]
examinations = pd.DataFrame(data, columns=['student_id', 'subject_name']).astype(
    {'student_id': 'Int64', 'subject_name': 'object'})

In [102]:
students_df = spark.createDataFrame(students)
subjects_df = spark.createDataFrame(subjects)
examinations_df = spark.createDataFrame(examinations)

In [ ]:
""""
Write a solution to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.
"""

In [103]:
students_df.show()

+----------+------------+
|student_id|student_name|
+----------+------------+
|         1|       Alice|
|         2|         Bob|
|        13|        John|
|         6|        Alex|
+----------+------------+

In [104]:
subjects_df.show()

+------------+
|subject_name|
+------------+
|        Math|
|     Physics|
| Programming|
+------------+

In [105]:
examinations_df.show()

+----------+------------+
|student_id|subject_name|
+----------+------------+
|         1|        Math|
|         1|     Physics|
|         1| Programming|
|         2| Programming|
|         1|     Physics|
|         1|        Math|
|        13|        Math|
|        13| Programming|
|        13|     Physics|
|         2|        Math|
|         1|        Math|
+----------+------------+

In [108]:
students_subjects = students_df.join(subjects_df)

In [109]:
students_subjects.show()

+----------+------------+------------+
|student_id|student_name|subject_name|
+----------+------------+------------+
|         1|       Alice|        Math|
|         1|       Alice|     Physics|
|         1|       Alice| Programming|
|         2|         Bob|        Math|
|         2|         Bob|     Physics|
|         2|         Bob| Programming|
|        13|        John|        Math|
|        13|        John|     Physics|
|        13|        John| Programming|
|         6|        Alex|        Math|
|         6|        Alex|     Physics|
|         6|        Alex| Programming|
+----------+------------+------------+

In [112]:
students_exams = students_subjects.join(examinations_df, on=['student_id', 'subject_name'])

In [115]:
students_exams.show()

+----------+------------+------------+
|student_id|subject_name|student_name|
+----------+------------+------------+
|        13| Programming|        John|
|         2| Programming|         Bob|
|         1| Programming|       Alice|
|        13|        Math|        John|
|         2|        Math|         Bob|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|         1|        Math|       Alice|
|        13|     Physics|        John|
|         1|     Physics|       Alice|
|         1|     Physics|       Alice|
+----------+------------+------------+

In [120]:
exams_count = students_exams.withColumn('exam_count',F.when(F.isnull('student_id'),0).otherwise(1)).groupBy(['student_id', 'subject_name', 'student_name']).agg(F.sum('exam_count').alias('attended_exams'))

In [121]:
exams_count.show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|        13| Programming|        John|             1|
|         2| Programming|         Bob|             1|
|         1| Programming|       Alice|             1|
|        13|        Math|        John|             1|
|         2|        Math|         Bob|             1|
|         1|        Math|       Alice|             3|
|        13|     Physics|        John|             1|
|         1|     Physics|       Alice|             2|
+----------+------------+------------+--------------+

In [125]:
students_subjects.join(exams_count, on=['student_id', 'subject_name', 'student_name'], how='left').na.fill(0, 'attended_exams').orderBy(['student_id', 'subject_name']).show()

+----------+------------+------------+--------------+
|student_id|subject_name|student_name|attended_exams|
+----------+------------+------------+--------------+
|         1|        Math|       Alice|             3|
|         1|     Physics|       Alice|             2|
|         1| Programming|       Alice|             1|
|         2|        Math|         Bob|             1|
|         2|     Physics|         Bob|             0|
|         2| Programming|         Bob|             1|
|         6|        Math|        Alex|             0|
|         6|     Physics|        Alex|             0|
|         6| Programming|        Alex|             0|
|        13|        Math|        John|             1|
|        13|     Physics|        John|             1|
|        13| Programming|        John|             1|
+----------+------------+------------+--------------+

## Managers with at Least 5 Direct Reports

In [126]:
data = [[101, 'John', 'A', None], [102, 'Dan', 'A', 101], [103, 'James', 'A', 101], [104, 'Amy', 'A', 101], [105, 'Anne', 'A', 101], [106, 'Ron', 'B', 101]]
employee = pd.DataFrame(data, columns=['id', 'name', 'department', 'managerId']).astype({'id':'Int64', 'name':'object', 'department':'object', 'managerId':'Int64'})

In [127]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("department", StringType(), True),
    StructField("managerId", IntegerType(), True)
])

employee_df = spark.createDataFrame(data,schema=schema)

In [128]:
employee_df.show()

+---+-----+----------+---------+
| id| name|department|managerId|
+---+-----+----------+---------+
|101| John|         A|     NULL|
|102|  Dan|         A|      101|
|103|James|         A|      101|
|104|  Amy|         A|      101|
|105| Anne|         A|      101|
|106|  Ron|         B|      101|
+---+-----+----------+---------+

In [ ]:
"""
Write a solution to find managers with at least five direct reports.

Return the result table in any order.
"""

In [133]:
report_count = employee_df.withColumn('report_count',F.when(F.isnull('managerId'),0).otherwise(1)).groupBy(['managerId']).agg(F.sum('report_count').alias('report_count'))

In [134]:
report_count.show()

+---------+------------+
|managerId|report_count|
+---------+------------+
|      101|           5|
|     NULL|           0|
+---------+------------+

In [141]:
employee_df.join(report_count, employee_df.id == report_count.managerId, "left").filter(F.col('report_count') >= 5).select('name').show()

+----+
|name|
+----+
|John|
+----+

## Confirmation Rate

In [142]:
data = [[3, '2020-03-21 10:16:13'], [7, '2020-01-04 13:57:59'], [2, '2020-07-29 23:09:44'], [6, '2020-12-09 10:39:37']]
signups = pd.DataFrame(data, columns=['user_id', 'time_stamp']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]'})
data = [[3, '2021-01-06 03:30:46', 'timeout'], [3, '2021-07-14 14:00:00', 'timeout'],
        [7, '2021-06-12 11:57:29', 'confirmed'], [7, '2021-06-13 12:58:28', 'confirmed'],
        [7, '2021-06-14 13:59:27', 'confirmed'], [2, '2021-01-22 00:00:00', 'confirmed'],
        [2, '2021-02-28 23:59:59', 'timeout']]
confirmations = pd.DataFrame(data, columns=['user_id', 'time_stamp', 'action']).astype(
    {'user_id': 'Int64', 'time_stamp': 'datetime64[ns]', 'action': 'object'})

In [143]:
signups_df = spark.createDataFrame(signups)
confirmations_df = spark.createDataFrame(confirmations)

In [144]:
signups_df.show()

+-------+-------------------+
|user_id|         time_stamp|
+-------+-------------------+
|      3|2020-03-21 10:16:13|
|      7|2020-01-04 13:57:59|
|      2|2020-07-29 23:09:44|
|      6|2020-12-09 10:39:37|
+-------+-------------------+

In [145]:
confirmations_df.show()

+-------+-------------------+---------+
|user_id|         time_stamp|   action|
+-------+-------------------+---------+
|      3|2021-01-06 03:30:46|  timeout|
|      3|2021-07-14 14:00:00|  timeout|
|      7|2021-06-12 11:57:29|confirmed|
|      7|2021-06-13 12:58:28|confirmed|
|      7|2021-06-14 13:59:27|confirmed|
|      2|2021-01-22 00:00:00|confirmed|
|      2|2021-02-28 23:59:59|  timeout|
+-------+-------------------+---------+

In [ ]:
"""
The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. The confirmation rate of a user that did not request any confirmation messages is 0. Round the confirmation rate to two decimal places.

Write a solution to find the confirmation rate of each user.

Return the result table in any order.
"""

In [156]:
user_confirmations = signups_df.join(confirmations_df, on='user_id', how='left').na.fill('timeout', 'action')

In [157]:
user_confirmations.show()

+-------+-------------------+-------------------+---------+
|user_id|         time_stamp|         time_stamp|   action|
+-------+-------------------+-------------------+---------+
|      7|2020-01-04 13:57:59|2021-06-14 13:59:27|confirmed|
|      7|2020-01-04 13:57:59|2021-06-13 12:58:28|confirmed|
|      7|2020-01-04 13:57:59|2021-06-12 11:57:29|confirmed|
|      6|2020-12-09 10:39:37|               NULL|  timeout|
|      3|2020-03-21 10:16:13|2021-07-14 14:00:00|  timeout|
|      3|2020-03-21 10:16:13|2021-01-06 03:30:46|  timeout|
|      2|2020-07-29 23:09:44|2021-02-28 23:59:59|  timeout|
|      2|2020-07-29 23:09:44|2021-01-22 00:00:00|confirmed|
+-------+-------------------+-------------------+---------+

In [166]:
user_confirmations_count = user_confirmations.groupBy('user_id').pivot('action', ['confirmed', 'timeout']).agg(F.count('action')).na.fill(0)

In [167]:
user_confirmations_count.show()

+-------+---------+-------+
|user_id|confirmed|timeout|
+-------+---------+-------+
|      7|        3|      0|
|      6|        0|      1|
|      3|        0|      2|
|      2|        1|      1|
+-------+---------+-------+

In [ ]:
user_confirmations_total = user_confirmations_count.withColumn('total', user_confirmations_count['confirmed'] + user_confirmations_count['timeout'])

In [171]:
user_confirmations_total.show()

+-------+---------+-------+-----+
|user_id|confirmed|timeout|total|
+-------+---------+-------+-----+
|      7|        3|      0|    3|
|      6|        0|      1|    1|
|      3|        0|      2|    2|
|      2|        1|      1|    2|
+-------+---------+-------+-----+

In [181]:
user_confirmations_total.withColumn('confirmation_rate', F.round(F.col('confirmed') / F.col('total'), 2)).select(['user_id', 'confirmation_rate']).show()

+-------+-----------------+
|user_id|confirmation_rate|
+-------+-----------------+
|      7|              1.0|
|      6|              0.0|
|      3|              0.0|
|      2|              0.5|
+-------+-----------------+