In [1]:
import os
print("JAVA_HOME:", os.environ.get("JAVA_HOME"))

JAVA_HOME: C:\Program Files\Java\jdk-17

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local").appName("leetcode_tasks").getOrCreate()

# Select

## Recyclable and Low Fat Products

In [3]:
import pandas as pd

data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype(
    {'product_id': 'int64', 'low_fats': 'category', 'recyclable': 'category'})

In [5]:
products_df = spark.createDataFrame(products)
products_df.printSchema()

root
 |-- product_id: long (nullable = true)
 |-- low_fats: string (nullable = true)
 |-- recyclable: string (nullable = true)

In [6]:
products_df.show()

+----------+--------+----------+
|product_id|low_fats|recyclable|
+----------+--------+----------+
|         0|       Y|         N|
|         1|       Y|         Y|
|         2|       N|         Y|
|         3|       Y|         Y|
|         4|       N|         N|
+----------+--------+----------+

In [ ]:
"""
Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.
"""

In [7]:
products_df.filter((products_df['low_fats'] == 'Y') & (products_df['recyclable'] == 'Y')).select('product_id').show()

+----------+
|product_id|
+----------+
|         1|
|         3|
+----------+

## Find Customer Referee

In [8]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype(
    {'id': 'Int64', 'name': 'object', 'referee_id': 'Int64'})

In [12]:
customer_df = spark.createDataFrame(customer)

In [13]:
customer_df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- referee_id: double (nullable = true)

In [14]:
customer_df.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|       NaN|
|  2|Jane|       NaN|
|  3|Alex|       2.0|
|  4|Bill|       NaN|
|  5|Zack|       1.0|
|  6|Mark|       2.0|
+---+----+----------+

In [ ]:
"""
Find the names of the customer that are not referred by the customer with id = 2.

Return the result table in any order.
"""

In [16]:
customer_df.filter(customer_df['referee_id'] != 2).select('name').show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+

## Big Countries

In [17]:
data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000],
        ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000],
        ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
world = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype(
    {'name': 'object', 'continent': 'object', 'area': 'Int64', 'population': 'Int64', 'gdp': 'Int64'})

In [18]:
world_df = spark.createDataFrame(world)

In [20]:
world_df.show()

+-----------+---------+-------+----------+------------+
|       name|continent|   area|population|         gdp|
+-----------+---------+-------+----------+------------+
|Afghanistan|     Asia| 652230|  25500100| 20343000000|
|    Albania|   Europe|  28748|   2831741| 12960000000|
|    Algeria|   Africa|2381741|  37100000|188681000000|
|    Andorra|   Europe|    468|     78115|  3712000000|
|     Angola|   Africa|1246700|  20609294|100990000000|
+-----------+---------+-------+----------+------------+

In [ ]:
"""
A country is big if:

it has an area of at least three million (i.e., 3000000 km2), or it has a population of at least twenty-five million (i.e., 25000000). Write a solution to find the name, population, and area of the big countries.

Return the result table in any order.
"""

In [21]:
world_df.filter((world_df['area'] >= 3000000) | (world_df['population'] >= 25000000)).select(['name', 'population', 'area']).show()

+-----------+----------+-------+
|       name|population|   area|
+-----------+----------+-------+
|Afghanistan|  25500100| 652230|
|    Algeria|  37100000|2381741|
+-----------+----------+-------+

## Article Views I

In [22]:
data = [[1, 3, 5, '2019-08-01'], [1, 3, 6, '2019-08-02'], [2, 7, 7, '2019-08-01'], [2, 7, 6, '2019-08-02'], [4, 7, 1, '2019-07-22'], [3, 4, 4, '2019-07-21'], [3, 4, 4, '2019-07-21']]
views = pd.DataFrame(data, columns=['article_id', 'author_id', 'viewer_id', 'view_date']).astype({'article_id':'Int64', 'author_id':'Int64', 'viewer_id':'Int64', 'view_date':'datetime64[ns]'})

In [23]:
views_df = spark.createDataFrame(views)

In [24]:
views_df.show()

+----------+---------+---------+-------------------+
|article_id|author_id|viewer_id|          view_date|
+----------+---------+---------+-------------------+
|         1|        3|        5|2019-08-01 00:00:00|
|         1|        3|        6|2019-08-02 00:00:00|
|         2|        7|        7|2019-08-01 00:00:00|
|         2|        7|        6|2019-08-02 00:00:00|
|         4|        7|        1|2019-07-22 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
|         3|        4|        4|2019-07-21 00:00:00|
+----------+---------+---------+-------------------+

In [ ]:
"""
Write a solution to find all the authors that viewed at least one of their own articles.

Return the result table sorted by id in ascending order.
"""

In [26]:
views_df.filter(views_df['author_id'] == views_df['viewer_id']).select(views_df['author_id'].alias('id')).distinct().orderBy('author_id').show()

+---+
| id|
+---+
|  4|
|  7|
+---+

## Invalid Tweets

In [27]:
data = [[1, 'Vote for Biden'], [2, 'Let us make America great again!']]
tweets = pd.DataFrame(data, columns=['tweet_id', 'content']).astype({'tweet_id':'Int64', 'content':'object'})

In [28]:
tweets_df = spark.createDataFrame(tweets)

In [29]:
tweets_df.show()

+--------+--------------------+
|tweet_id|             content|
+--------+--------------------+
|       1|      Vote for Biden|
|       2|Let us make Ameri...|
+--------+--------------------+

In [ ]:
"""
Write a solution to find the IDs of the invalid tweets. The tweet is invalid if the number of characters used in the content of the tweet is strictly greater than 15.

Return the result table in any order.
"""

In [33]:
import pyspark.sql.functions as F

tweets_df.filter(F.length(tweets_df['content']) > 15).select('tweet_id').show()

+--------+
|tweet_id|
+--------+
|       2|
+--------+

# Basic Joins

In [ ]:
## Replace Employee ID With The Unique Identifier